<label>
    <input type="checkbox"
           required="required"
           ng-model="submissionFormModel.agreement"
           ng-class="{'has-error':submissionForm.agreement.$error.required && submissionForm.agreement.$dirty}"
           name="agreement">
    I agree to the <a href="#">Terms and Conditions</a> of publishing content
    and sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
    laborum.
</label>