<footer class="footer">

    <div class="row columns">

        <div class="row">

            <div class="columns medium-4">

                <ul>
                    <li><big>Economics Notebook Archive</big><br><br></li>
                    <li><a href="#">Publish a Notebook</a></li>
                    <li><a href="#">About the site</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Terms</a></li>
                </ul>

            </div>

            <div class="columns medium-4">

                <ul>
                    <li><big>QuantEcon Sites</big><br><br></li>
                    <li><a href="#">www.quantecon.org</a></li>
                    <li><a href="#">lectures.quantecon.org</a></li>
                    <li><a href="#">notebooks.quantecon.org</a></li>
                    <li><a href="#">cheatsheets.quantecon.org</a></li>
                </ul>

            </div>

            <div class="columns medium-4">

                <ul>
                    <li><big>&nbsp;</big><br><br></li>
                    <li><a href="#">Jupyter</a></li>
                    <li><a href="#">NumFOCUS</a></li>
                    <li><a href="#">Alfred P. Sloan Foundation</a></li>
                </ul>

            </div>

        </div>

        <p><br>&copy; 2017 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
            est laborum.</p>

    </div>

</footer>