<header class="header">

    <div class="row columns">

        <div class="header-container">


            <div class="site-title">
                <a href="/">
                    <h2 class="site-name">QuantEconLib</h2>
                    <p class="site-tag">Open notebook library for economic modeling</p>
                </a>
            </div>

            <p class="qe-logo"><a href="https://quantecon.org/" title="quantecon.org"><img
                    src="/assets/img/qe-logo-horizontal.png" alt="QuantEcon logo"> Quant<span>Econ</span></a></p>

            <ul class="site-menu">
                {{#if data.currentUser}}
                    <li class="menu-user"><a href="/user/my-profile/">
                        <div class="avatar"><img src={{data.currentUser.avatar}}></div>
                        <span>My Profile</span></a></li>
                    {{#if data.submit}}
                    {{else}}
                        <li class="menu-submit"><a href="/submit" aria-haspopup="true" tabindex="0">Submit Notebook</a>
                        </li>
                    {{/if}}
                {{else}}
                    <li class="menu-signin"><a href="/login" aria-haspopup="true" tabindex="0">Sign In</a></li>
                {{/if}}
            </ul>

        </div>

    </div>

</header>