<div class="qe-nav">
    <p class="qe-logo"><a href="https://quantecon.org/" title="quantecon.org"><img src="/assets/img/qe-logo-horizontal.png" alt="QuantEcon logo"> Quant<span>Econ</span></a></p>
    <ul class="qe-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Lectures</a></li>
        <li><a href="#">QuantEcon.Py</a></li>
        <li><a href="#">QuantEcon.jl</a></li>
        <li><a href="#">QuantEconLib</a></li>
        <li><a href="#">Cheatsheets</a></li>
        <li><a href="#">Forum</a></li>
        <li><a href="#">Repository</a></li>
    </ul>
</div>