<head>
    <script src="/bundle.js"></script>
    <script src="/assets/js/modules/main.js"></script>
</head>

<form ng-app="mainApp"
      ng-controller="searchCtrl"
      name="searchForm"
      ng-submit="search(searchParams, false)" data-ng-init="initSearch()">

    <div class="filters">

        <div class="sort-inputs">

            <label>Sort by:
                <select ng-model="searchParams.sortBy">
                    <option value="Trending">Trending</option>
                    <option value="Date">Date</option>
                    <option value="Views">Views</option>
                    <option value="Comments">Comments</option>
                </select>
            </label>

            <label>
                <select ng-model="searchParams.time">
                    <option value="Today">Today</option>
                    <option value="This month">This month</option>
                    <option value="This year">This year</option>
                    <option value="All time">All time</option>
                </select>
            </label>

            <p class="totals">{[{numSubs}]} Notebooks</p>

        </div>

        <div class="filter-inputs">

            <label ng-show="!showSearchBar">Topic:
                <select ng-model="searchParams.topic">

                    <option ng-repeat="topic in topics" value="{[{topic}]}">{[{topic}]}</option>

                </select>
            </label>

            <label ng-show="!showSearchBar">Language:
                <select ng-model="searchParams.language">
                    <option value="All">All</option>
                    <option value="Python">Python</option>
                    <option value="Julia">Julia</option>
                    <option value="R">R</option>
                </select>
            </label>

        </div>

        <div class="search-inputs">

            <div class="search-field"
                 style="display: block"
                 ng-show="showSearchBar">
                <a ng-click="toggleSearchBar()" class="search-hide"><span class="fi-x"></span></a>
                <label for="search-keywords">Search:
                    <input type="text" id="search-keywords" ng-model="searchParams.keywords">
                </label>

                <button type="submit" class="search-submit" ng-click="toggleSearchBar()"><span
                        class="fi-magnifying-glass"></span></button>

            </div>

            <div class="search-toggle">

                <a ng-click="toggleSearchBar()"
                   title="search"
                   ng-show="!showSearchBar">
                    <span class="fi-magnifying-glass"></span>
                </a>

            </div>

        </div>

    </div>

    <p class="search-message" ng-show="hasCurrentSearch">
        Your search returned {[{numSubs}]} notebooks.
        <a ng-click="clearSearch()">Clear search</a>
    </p>
</form>
