<head>
    <script src="/bundle.js"></script>
    <script src="/assets/js/modules/main.js"></script>
    <link rel="stylesheet" href="/assets/css/general.css">
</head>

{{#if userPage}}
    <div class="tile"
         ng-controller="mainCtrl"
         data-ng-init="initSubmissions(userID)">
{{else}}
    <div class="tile"
         ng-controller="mainCtrl"
         data-ng-init="initSubmissions()">
{{/if}}

    <div ng-app="mainApp"
         ng-controller="searchCtrl">
        {{>searchbar}}
    </div>

    <div class="summaries">
        <div ng-show="!dataReady" class="loading-container">
            <img src="/assets/img/loadingSpinner.gif" class="loading-spinner">
            <div class="notebook-summary" ng-repeat="n in [].constructor(10) track by $index">
                <div class="specs">
                    <h3 class="title"></h3>
                    <p class="date"></p>
                    <p class="short"></p>
                </div>
                <p class="avatar">
                    <img src='/assets/img/square-512.jpg'>
                </p>
                <div class="stats">
                    <ul>
                        <li class="views"><span class="count"></span> Views</li>
                        <li class="comments"><span class="count"></span> Comments</li>
                        <li class="votes"><span class="count"></span> Votes</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="notebook-summary"
             dir-paginate="notebook in submissions | itemsPerPage: 10"
             current-page="pagination.current"
             total-items="totalSubmissions"
             ng-show="dataReady">

            <div class="specs">
                <h3 class="title"><a href="/notebook/{[{notebook._id}]}/">{[{notebook.title}]}</a></h3>
                <p class="date">

                    <!--todo: check if this accounts for differing timezones-->
                    Published <span am-time-ago="notebook.published"></span> by

                    <a ng-repeat="author in authors | filter: {_id: notebook.author}"
                       href="/user/{[{author._id}]}/">
                        {[{author.name}]}
                    </a>

                    in <a>{[{notebook.lang}]}</a></p>
                <p class="short" marked="notebook.summary"></p>
            </div>
            <p class="avatar">
                <a href="/user/{[{notebook.author}]}"
                   ng-repeat="author in authors | filter: {_id: notebook.author}">

                    <img src='{[{author.avatar}]}'>

                </a>
            </p>
            <div class="stats">
                <a href="/notebook/{[{notebook._id}]}/">
                    <ul>
                        <li class="views"><span class="count">{[{notebook.views}]}</span> Views</li>
                        <li class="comments"><span class="count">{[{notebook.totalComments}]}</span> Comments
                        </li>
                        <li class="votes"><span class="count">{[{notebook.score}]}</span> Votes</li>
                    </ul>
                </a>
            </div>
        </div>
        <dir-pagination-controls on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="/assets/pagination-controls.html"></dir-pagination-controls>

    </div>
</div>
