<div class="notebook-summary">
    <div class="specs">
        <h3 class="title"></h3>

        <p class="date"></p>

        <p class="short"></p>
    </div>
    <p class="avatar">
        <img src='/assets/img/gray-square.png'>
    </p>
    <div class="stats">
        <ul>
            <li class="views"><span class="count"></span> Views</li>
            <li class="comments"><span class="count"></span> Comments</li>
            <li class="votes"><span class="count"></span> Votes</li>
        </ul>
    </div>
</div>