<div class="tile">

    <div class="tile-header">

        <h2 class="tile-title">Notebook</h2>

        <ul class="tile-options">
            <li><a class="active" href="/notebook/{{data.n._id}}/">Notebook</a></li>
            <li><a href="/notebook/{{data.n._id}}/comments/">Comments {{data.n.comments.length}}</a></li>
            <li><a class="alt"
                   href="https://github.com/QuantEcon/QuantEcon.notebooks/raw/master/chase_nelder_mead.ipynb">Download</a>
            </li>
        </ul>

    </div>

</div>