.idea/
.vscode/
node_modules/
npm-debug.log
frontend
data/
files/
client/src/assets/MathJax
client/src/assets/css/

#config
_config.js

.DS_store
docs

docs/
.ipynb_checkpoints/
server/js/db/.migrate
