<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/assets/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Exo:200,400|Raleway:400,700" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body>
{{>navbar}}
{{>head}}
{{>breadcrumbs}}
<div class="container">
    {{{body}}}
</div>
{{>footer}}
</body>
</html>