<!DOCTYPE html>
<html lang="en">
<head>
    <title>QuantEconLib</title>
    <link rel="stylesheet" href="/assets/css/app.css">
    <link href="https://fonts.googleapis.com/css?family=Exo:200,400|Raleway:400,700" rel="stylesheet">
</head>
<body>
{{>navbar}}
{{>head}}
<div class="container">
    {{{body}}}
</div>
{{>footer}}
</body>
</html>