<!DOCTYPE html>
<html lang="en">
<head>
    <title>QuantEconLib</title>
    <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
{{>navbar}}
{{>head}}
<div class="container">
    {{{body}}}
</div>
</body>
</html>