<div class="row">
    <div class="column">

        <div class="tile">

            <form action="/search/">

                <div class="filters">


                    <div class="sort-inputs">

                        <label>Sort by:
                            <select>
                                <option value="option">Trending</option>
                                <option value="option">Date</option>
                                <option value="option">Views</option>
                                <option value="option">Comments</option>
                            </select>
                        </label>

                        <label>
                            <select>
                                <option value="option">Today</option>
                                <option value="option">This month</option>
                                <option value="option">This year</option>
                                <option value="option">All time</option>
                            </select>
                        </label>

                        <p class="totals">132 Notebooks</p>

                    </div>

                    <div class="filter-inputs">

                        <label>Topic:
                            <select>
                                <option value="0">All</option>
                                <option value="0">General Economics and Teaching</option>
                                <option value="0">History of Economic Thought, Methodology, and Heterodox Approaches</option>
                                <option value="0">Mathematical and Quantitative Methods</option>
                                <option value="0">Microeconomics</option>
                                <option value="0">Macroeconomics and Monetary Economics</option>
                                <option value="0">International Economics</option>
                                <option value="0">Financial Economics</option>
                                <option value="0">Public Economics</option>
                                <option value="0">Health, Education, and Welfare</option>
                                <option value="0">Labor and Demographic Economics</option>
                                <option value="0">Law and Economics</option>
                                <option value="0">Industrial Organization</option>
                                <option value="0">Business Administration and Business Economics • Marketing • Accounting • Personnel Economics</option>
                                <option value="0">Economic History</option>
                                <option value="0">Economic Development, Innovation, Technological Change, and Growth</option>
                                <option value="0">Economic Systems</option>
                                <option value="0">Agricultural and Natural Resource Economics • Environmental and Ecological Economics</option>
                                <option value="0">Urban, Rural, Regional, Real Estate, and Transportation Economics</option>
                                <option value="0">Miscellaneous</option>
                                <option value="0">Other</option>
                            </select>
                        </label>

                        <label>Language:
                            <select>
                                <option value="0">All</option>
                                <option value="0">Python</option>
                                <option value="0">Julia</option>
                                <option value="0">R</option>
                            </select>
                        </label>

                    </div>

                    <div class="search-inputs">

                        <div class="search-field">

                            <a href="#" class="search-hide"><span class="fi-x"></span></a>

                            <label for="search-keywords">Search:
                                <input type="text" id="search-keywords">
                            </label>

                            <button type="submit" class="search-submit"><span class="fi-magnifying-glass"></span></button>

                        </div>

                        <div class="search-toggle">

                            <a href="#" title="search"><span class="fi-magnifying-glass"></span></a>

                        </div>

                    </div>

                </div>

            </form>


            <div class="summaries">

                <div class="notebook-summary">
                    <div class="specs">
                        <h3 class="title"><a href="/n/an-introduction-to-the-nelder-mead-algorithm/">An Introduction to the Nelder-Mead Algorithm</a></h3>
                        <p class="date">Published 2 hours ago by <a href="/u/chase-coleman/">Chase Coleman</a> in <a href="/">Python</a></p>
                        <p class="short">One of the most used optimization algorithms of today is the Nelder-Mead algorithm. It has become a core muscle in many programming languages' minimization techniques, including being the default for both Matlab and Scipy's fmin function.</p>
                    </div>
                    <p class="avatar"><a href="/u/chase-coleman/"><img src="/assets/img/avatar/5.jpg"></a></p>
                    <div class="stats">
                        <a href="/n/an-introduction-to-the-nelder-mead-algorithm/">
                            <ul>
                                <li class="views"><span class="count">280</span> Views</li>
                                <li class="comments"><span class="count">28</span> Comments</li>
                                <li class="votes"><span class="count">72</span> Votes</li>
                            </ul>
                        </a>
                    </div>
                </div>

                <div class="notebook-summary">
                    <div class="specs">
                        <h3 class="title"><a href="/n/an-introduction-to-the-nelder-mead-algorithm/">Tools for Game Theory</a></h3>
                        <p class="date">Published 4 hours ago by <a href="/u/chase-coleman/">Daisuke Oyama</a> in <a href="/">Julia</a></p>
                        <p class="short">This notebook demonstrates the functionalities of the game_theory module.</p>
                    </div>
                    <p class="avatar"><a href="/u/chase-coleman/"><img src="/assets/img/avatar/1.png"></a></p>
                    <div class="stats">
                        <a href="/n/an-introduction-to-the-nelder-mead-algorithm/">
                            <ul>
                                <li class="views"><span class="count">182</span> Views</li>
                                <li class="comments"><span class="count">21</span> Comments</li>
                                <li class="votes"><span class="count">89</span> Votes</li>
                            </ul>
                        </a>
                    </div>
                </div>


                <div class="notebook-summary">
                    <div class="specs">
                        <h3 class="title"><a href="/n/an-introduction-to-the-nelder-mead-algorithm/">Estimating simple regression models in Julia</a></h3>
                        <p class="date">Published 1 day ago by <a href="/u/chase-coleman/">Tyler Ransom</a> in <a href="/">Julia</a></p>
                        <p class="short">With our knowledge of the DataFrames package, we can use Julia to estimate common regression models which are useful in summarizing and describing data.</p>
                    </div>
                    <p class="avatar"><a href="/u/chase-coleman/"><img src="/assets/img/avatar/2.jpg"></a></p>
                    <div class="stats">
                        <a href="/n/an-introduction-to-the-nelder-mead-algorithm/">
                            <ul>
                                <li class="views"><span class="count">84</span> Views</li>
                                <li class="comments"><span class="count">2</span> Comments</li>
                                <li class="votes"><span class="count">5</span> Votes</li>
                            </ul>
                        </a>
                    </div>
                </div>


                <div class="notebook-summary">
                    <div class="specs">
                        <h3 class="title"><a href="/n/an-introduction-to-the-nelder-mead-algorithm/">Scientific Python Quickstart: Using NumPy and SciPy</a></h3>
                        <p class="date">Published 5 days ago by <a href="/u/chase-coleman/">John Stachurski</a> in <a href="/">Python</a></p>
                        <p class="short">This is a fast-paced, hands-on introduction to scientific computing with Python, contained in a Jupyter notebook. The main focus will be on introducing Python's four most important scientific libraries: NumPy, Scipy, Pandas and Matplotlib.</p>
                    </div>
                    <p class="avatar"><a href="/u/chase-coleman/"><img src="/assets/img/avatar/3.jpg"></a></p>
                    <div class="stats">
                        <a href="/n/an-introduction-to-the-nelder-mead-algorithm/">
                            <ul>
                                <li class="views"><span class="count">438</span> Views</li>
                                <li class="comments"><span class="count">51</span> Comments</li>
                                <li class="votes"><span class="count">16</span> Votes</li>
                            </ul>
                        </a>
                    </div>
                </div>



                <div class="notebook-summary">
                    <div class="specs">
                        <h3 class="title"><a href="/n/an-introduction-to-the-nelder-mead-algorithm/">Solving Initial Value Problems in QuantEcon.py</a></h3>
                        <p class="date">Published 2 weeks ago by <a href="/u/chase-coleman/">David R. Pugh</a> in <a href="/">Python</a></p>
                        <p class="short">This notebook demonstrates how to solve initial value problems (IVPs) using the quantecon Python library. Before demonstrating how one might solve an IVP using quantecon, I provide formal definitions for ordinary differential equations (ODEs) and initial value problems (IVPs), as well as a short discussion of finite-difference methods that will be used to solve IVPs.</p>
                    </div>
                    <p class="avatar"><a href="/u/chase-coleman/"><img src="/assets/img/avatar/4.jpg"></a></p>
                    <div class="stats">
                        <a href="/n/an-introduction-to-the-nelder-mead-algorithm/">
                            <ul>
                                <li class="views"><span class="count">14</span> Views</li>
                                <li class="comments"><span class="count">0</span> Comments</li>
                                <li class="votes"><span class="count">6</span> Votes</li>
                            </ul>
                        </a>
                    </div>
                </div>


                <div class="notebook-summary">
                    <div class="specs">
                        <h3 class="title"><a href="/n/an-introduction-to-the-nelder-mead-algorithm/">A Problem that Stumped Milton Friedman</a></h3>
                        <p class="date">Published 1 month ago by <a href="/u/chase-coleman/">Thomas J. Sargent</a> in <a href="/">Python</a></p>
                        <p class="short">And that Abraham Wald solved by inventing sequential analysis</p>
                    </div>
                    <p class="avatar"><a href="/u/chase-coleman/"><img src="/assets/img/avatar/6.jpg"></a></p>
                    <div class="stats">
                        <a href="/n/an-introduction-to-the-nelder-mead-algorithm/">
                            <ul>
                                <li class="views"><span class="count">1033</span> Views</li>
                                <li class="comments"><span class="count">64</span> Comments</li>
                                <li class="votes"><span class="count">299</span> Votes</li>
                            </ul>
                        </a>
                    </div>
                </div>


                <div class="notebook-summary">
                    <div class="specs">
                        <h3 class="title"><a href="/n/an-introduction-to-the-nelder-mead-algorithm/">Aiyagari (1994) in Continuous Time</a></h3>
                        <p class="date">Published 1 month ago by <a href="/u/chase-coleman/">SeHyoun Ahn</a> in <a href="/">Python</a></p>
                        <p class="short">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                    </div>
                    <p class="avatar"><a href="/u/chase-coleman/"><img src="/assets/img/avatar/7.jpg"></a></p>
                    <div class="stats">
                        <a href="/n/an-introduction-to-the-nelder-mead-algorithm/">
                            <ul>
                                <li class="views"><span class="count">15</span> Views</li>
                                <li class="comments"><span class="count">2</span> Comments</li>
                                <li class="votes"><span class="count">8</span> Votes</li>
                            </ul>
                        </a>
                    </div>
                </div>

                <div class="notebook-summary">
                    <div class="specs">
                        <h3 class="title"><a href="/n/an-introduction-to-the-nelder-mead-algorithm/">MarkovChain: Examples</a></h3>
                        <p class="date">Published 2 months ago by <a href="/u/chase-coleman/">Daisuke Oyama</a> in <a href="/">Python</a></p>
                        <p class="short">This notebook demonstrates how to analyze finite-state Markov chains with the MarkovChain class. For basic concepts and properties on Markov chains</p>
                    </div>
                    <p class="avatar"><a href="/u/chase-coleman/"><img src="/assets/img/avatar/1.png"></a></p>
                    <div class="stats">
                        <a href="/n/an-introduction-to-the-nelder-mead-algorithm/">
                            <ul>
                                <li class="views"><span class="count">83</span> Views</li>
                                <li class="comments"><span class="count">5</span> Comments</li>
                                <li class="votes"><span class="count">44</span> Votes</li>
                            </ul>
                        </a>
                    </div>
                </div>

                <div class="notebook-summary">
                    <div class="specs">
                        <h3 class="title"><a href="/n/an-introduction-to-the-nelder-mead-algorithm/">Bayesian Estimation of a Univariate First Order Autoregression</a></h3>
                        <p class="date">Published 4 months ago by <a href="/u/chase-coleman/">Chase Coleman</a> in <a href="/">Python</a></p>
                        <p class="short">This notebook demonstrates how to analyze finite-state Markov chains with the MarkovChain class. For basic concepts and properties on Markov chains</p>
                    </div>
                    <p class="avatar"><a href="/u/chase-coleman/"><img src="/assets/img/avatar/5.jpg"></a></p>
                    <div class="stats">
                        <a href="/n/an-introduction-to-the-nelder-mead-algorithm/">
                            <ul>
                                <li class="views"><span class="count">782</span> Views</li>
                                <li class="comments"><span class="count">26</span> Comments</li>
                                <li class="votes"><span class="count">59</span> Votes</li>
                            </ul>
                        </a>
                    </div>
                </div>

                <div class="notebook-summary">
                    <div class="specs">
                        <h3 class="title"><a href="/n/an-introduction-to-the-nelder-mead-algorithm/">Approximation Methods for the Lucas Asset Pricing Model</a></h3>
                        <p class="date">Published 1 year ago by <a href="/u/chase-coleman/">Joao Brogueira</a> in <a href="/">Python</a></p>
                        <p class="short">This note describes why and how we modified the computer code of the original lucastree.py module.</p>
                    </div>
                    <p class="avatar"><a href="/u/chase-coleman/"><img src="/assets/img/avatar/8.png"></a></p>
                    <div class="stats">
                        <a href="/n/an-introduction-to-the-nelder-mead-algorithm/">
                            <ul>
                                <li class="views"><span class="count">91</span> Views</li>
                                <li class="comments"><span class="count">18</span> Comments</li>
                                <li class="votes"><span class="count">32</span> Votes</li>
                            </ul>
                        </a>
                    </div>
                </div>

            </div>


            <ul class="pagination text-center" role="navigation" aria-label="Pagination">
                <li class="pagination-previous disabled">Previous</li>
                <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
                <li><a href="#" aria-label="Page 2">2</a></li>
                <li><a href="#" aria-label="Page 3">3</a></li>
                <li><a href="#" aria-label="Page 4">4</a></li>
                <li class="ellipsis"></li>
                <li><a href="#" aria-label="Page 12">12</a></li>
                <li><a href="#" aria-label="Page 13">13</a></li>
                <li class="pagination-next"><a href="#" aria-label="Next page">Next</a></li>
            </ul>

        </div>

    </div>
</div>
