<form action="/submit/2.html" novalidate>

    <div class="row columns">

        <div class="submit-form">

            <h1 class="page-title">Submit Notebook</h1>


            <div class="submit-upload">

                <h2 class="section-title">Notebook File <span class="mandatory">*</span></h2>

                <p class="input-hint">You will be able to preview the rendered Notebook before publishing. A published Notebook can be modified by uploading an updated version.</p>

                <div id="dZUploadNB" class="dropzone">

                    <div class="dz-default dz-message">
                        <p class="hint">Drop Notebook file here or <strong>click</strong> to browse</p>
                        <p>You can upload an <strong>ipynb</strong> file up to 10MB.</p>
                    </div>

                </div>

            </div>

            <div class="submit-header">

                <div class="submit-title">

                    <label class="section-title" for="title">Title <span class="mandatory">*</span></label>

                    <input type="text" placeholder="Notebook Title" id="title">

                </div>

            </div>

            <div class="submit-primary">

                <div class="submit-primary-group1">

                    <h2 class="section-title">Co-authors</h2>

                    <p class="input-hint">An email will be sent to each co-author requesting their permission to be acknowledged.</p>

                    <div class="coauthor-emails">
                        <input type="email" placeholder="Email address">
                        <input type="email" placeholder="Email address">
                        <input type="email" placeholder="Email address">
                        <input type="email" placeholder="Email address">
                    </div>

                    <p class="input-hint input-hint-after"><a href="#">Add more</a></p>

                </div>

                <div class="submit-primary-group2">

                    <h2 class="section-title">Author <span class="mandatory">*</span></h2>

                    <p>You are signed in as:</p>

                    <div class="submit-user">

                        <div class="side">

                            <!--todo: figure out to set global current user-->
                            <p class="avatar"><a href="/user/my-profile/"><img src={{currentUser.avatar}}></a></p>

                        </div>

                        <div class="main">

                            <p class="name"><a href="/user/my-profile/">{{currentUser.name}}</a></p>

                            <!--todo: figure out how to do modals-->
                            <p class="signout"><a href="#" data-open="signInModal">Sign in as a different user</a></p>

                        </div>

                    </div>

                </div>

            </div>

            <div class="submit-secondary">

                <div class="submit-secondary-group1">

                    <h2 class="section-title">Topic</h2>

                    <p class="input-hint">The Notebook will be grouped under each selected topic.</p>

                    <ul class="submit-topics">
                        <li><input id="topic1" type="checkbox"><label for="topic1">General Economics and Teaching</label></li>
                        <li><input id="topic2" type="checkbox"><label for="topic2" title="History of Economic Thought, Methodology, and Heterodox Approaches">History of Economic Thought, Methodology, and Heterodox Approaches</label></li>
                        <li><input id="topic3" type="checkbox"><label for="topic3">Mathematical and Quantitative Methods</label></li>
                        <li><input id="topic4" type="checkbox"><label for="topic4">Microeconomics</label></li>
                        <li><input id="topic5" type="checkbox"><label for="topic5">Macroeconomics and Monetary Economics</label></li>
                        <li><input id="topic6" type="checkbox"><label for="topic6">International Economics</label></li>
                        <li><input id="topic7" type="checkbox"><label for="topic7">Financial Economics</label></li>
                        <li><input id="topic8" type="checkbox"><label for="topic8">Public Economics</label></li>
                        <li><input id="topic9" type="checkbox"><label for="topic9">Health, Education, and Welfare</label></li>
                        <li><input id="topic10" type="checkbox"><label for="topic10">Labor and Demographic Economics</label></li>
                        <li><input id="topic11" type="checkbox"><label for="topic11">Law and Economics</label></li>
                        <li><input id="topic12" type="checkbox"><label for="topic12">Industrial Organization</label></li>
                        <li><input id="topic13" type="checkbox"><label for="topic13" title="Business Administration and Business Economics">Business Administration and Business Economics</label></li>
                        <li><input id="topic14" type="checkbox"><label for="topic14">Economic History</label></li>
                        <li><input id="topic15" type="checkbox"><label for="topic15" title="Economic Development, Innovation, Technological Change, and Growth">Economic Development, Innovation, Technological Change, and Growth</label></li>
                        <li><input id="topic16" type="checkbox"><label for="topic16">Economic Systems</label></li>
                        <li><input id="topic17" type="checkbox"><label for="topic17">Agricultural and Natural Resource Economics</label></li>
                        <li><input id="topic18" type="checkbox"><label for="topic18" title="Urban, Rural, Regional, Real Estate, and Transportation Economics">Urban, Rural, Regional, Real Estate, and Transportation Economics</label></li>
                    </ul>

                </div>

                <div class="submit-secondary-group2">

                    <label class="section-title" for="language">Language <span class="mandatory">*</span></label>

                    <p class="input-hint">The primary programming language used in the Notebook.</p>

                    <select id="language">
                        <option value="">Select</option>
                        <option value="python">Python</option>
                        <option value="julia">Julia</option>
                        <option value="r">R</option>
                        <option value="other">Other</option>
                    </select>

                    <hr>

                    <label class="section-title" for="summary">Summary</label>

                    <p class="input-hint">You can use <a href="http://commonmark.org/help/" target="_blank">markdown</a> here.</p>

                    <textarea placeholder="Notebook summary" id="summary"></textarea>

                    <p class="input-hint input-hint-after"><a href="#">Preview</a></p>

                </div>

            </div>

            <div class="submit-footer">

                <p class="section-title">Terms <span class="mandatory">*</span></p>

                <label><input type="checkbox"> I agree to the <a href="#">Terms and Conditions</a> of publishing content and sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</label>

            </div>

            <ul class="button-row">
                <li><button name="submit" type="submit">Preview</button></li>
            </ul>

        </div>

    </div>

</form>