<head>
    <script src="/bundle.js"></script>
    <script src="/assets/js/modules/submission.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
    <link rel="stylesheet" href="/assets/css/formStyle.css">
    <link rel="stylesheet" href="/assets/css/general.css">
</head>
<div class="row" ng-app="submissionApp"
     ng-controller="submissionCtrl"
     data-ng-init="init()">
    <div class="column">

        <div class="details">

            <div class="details-side">
                <div class="vote">
                    <a class="fi-like" id="submission-upvote-button"
                       ng-click="upvoteSubmissionClicked(submissionID)"
                       ng-class="{active: currentUser && currentUser.upvotes.indexOf(submissionID) !== -1}">
                    </a>

                    <span class="score" id="submission-score">{[{notebook.score}]}</span>

                    <a class="fi-dislike" id="submission-downvote-button"
                       ng-click="downvoteSubmissionClicked(submissionID)"
                       ng-class="{active: currentUser && currentUser.downvotes.indexOf(submissionID) !== -1}">
                    </a>

                </div>


                <ul class="admin-options">
                    <li><a href="#" title="Flag notebook" data-open="flagNotebookModal"><span
                            class="fi-flag"></span></a></li>
                    {{#if currentUser.isAdmin}}
                        <li><a href="#" title="Delete notebook" data-open="deleteContentModal"><span
                                class="fi-x"></span></a></li>
                    {{/if}}
                </ul>


            </div>

            <div class="details-main">

                <div class="details-header">

                    <div class="details-title">

                        <h1 class="title">{[{notebook.title}]}</h1>
                        <!--if this is the current user's submission-->

                        <ul class="details-options" ng-show="currentUser._id == author._id">
                            <li><a href="/notebook/{[{notebook._id}]}/edit"
                                   title="Edit Submission"><span class="fi-widget"></span></a>
                            </li>
                        </ul>

                        <ul class="topics">
                            <li ng-repeat="topic in notebook.topicList">
                                <a href="/">{[{topic}]}</a>
                            </li>
                        </ul>

                    </div>

                    <div class="details-counts">

                        <div class="counts">
                            <ul>
                                <li class="views"><span class="count">{[{notebook.views}]}</span> Views</li>
                                <li class="comments"><span class="count">{[{notebook.comments.length + notebook.replies.length}]}</span>
                                    Comments
                                </li>
                                <li class="votes"><span class="count">{[{notebook.score}]}</span> Votes</li>
                            </ul>
                        </div>

                    </div>

                </div>

                <div class="details-body">

                    <div class="details-primary">

                        <p marked="summary"></p>

                    </div>

                    <div class="details-secondary">

                        <div class="side">

                            <p class="avatar"><a href="/user/{[{author._id}]}/"><img src={[{author.avatar}]}></a></p>

                        </div>

                        <div class="main">

                            <ul class="specs">
                                <li><span>Author:</span> <a href="/user/{[{author._id}]}/">{[{author.name}]}</a></li>
                                <li><span>Co-authors:</span>
                                    <a ng-repeat="coAuthor in notebook.coAuthors">
                                        {[{coAuthor.name}]}
                                    </a>
                                    <br>
                                </li>
                                <li><span>Language:</span> <a href="/">{[{notebook.language}]}</a></li>
                                <li><span>Published:</span> {[{notebook.published | date: 'd MMM yyyy'}]}</li>
                                <li><span>Last update:</span> {[{notebook.lastUpdated | date: 'd MMM yyyy'}]}</li>
                            </ul>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="tile">

            <!--Notebook-->
            <div class="tile-header" ng-show="showNotebook">

                <h2 class="tile-title">Notebook</h2>

                <ul class="tile-options">
                    <li></li>
                </ul>

                <ul class="tile-options">
                    <li><a class="active">Notebook</a></li>
                    <li><a ng-click="toggleView()">Comments {[{comments.length + replies.length}]}</a></li>
                    <!--todo: implement download-->
                    <li><a class="alt" ng-click="downloadNotebook()">Download</a>
                    </li>
                </ul>

            </div>

            <div ng-show="showNotebook"
                 ng-bind-html="notebook.notebook">
            </div>


            <!--Comments-->
            <div class="tile-header"
                 ng-show="showComments">

                <h2 class="tile-title">Comments</h2>

                <ul class="tile-options">
                    <li><a ng-click="toggleView()">Notebook</a></li>
                    <li><a class="active">Comments {[{comments.length + replies.length}]}</a></li>
                    <li><a class="alt" ng-click="downloadNotebook()">Download</a>
                    </li>
                </ul>

            </div>

            <div class="comments"
                 ng-show="showComments">

                <div class="comments-thread">

                    <div class="comment" ng-repeat="comment in comments">

                        <div class="comment-side">

                            <div class="comment-avatar">

                                <a href="/user/{[{comment.author}]}/"
                                   ng-repeat="commentAuthor in commentAuthors | filter: {_id: comment.author}">
                                    <img src={[{commentAuthor.avatar}]}>
                                </a>

                            </div> <!-- .comment-avatar -->

                            <div class="comment-score">{[{comment.score}]}</div>
                            <!-- .comment-score -->

                            <ul class="comment-vote">
                                <li><a class="fi-like" id="upvote-{[{comment._id}]}"
                                       ng-click="upvoteCommentClicked(comment._id)"
                                       ng-class="{active: currentUser && currentUser.upvotes.indexOf(comment._id) !== -1}">

                                </a></li>
                                <li><a class="fi-dislike" id="downvote-{[{comment._id}]}"
                                       ng-click="downvoteCommentClicked(comment._id)"
                                       ng-class="{active: currentUser && currentUser.downvotes.indexOf(comment._id) !== -1}">

                                </a></li>
                            </ul> <!-- .comment-vote -->

                        </div> <!-- .comment-side -->

                        <div class="comment-main">

                            <div class="comment-header">
                                <!--todo: get fuzzy timestamp-->
                                <!--todo: filter users by author id-->
                                <a href="/user/{[{comment.author}]}"
                                   ng-repeat="comAuthor in commentAuthors | filter: {_id: comment.author}">
                                    {[{comAuthor.name}]}
                                </a>
                                <span class="time">{[{comment.timestamp | amDurationFormat: 'minute'}]} ago</span>

                                <a class="flag"
                                   data-open="flagCommentModal"
                                   title="Flag comment"
                                   aria-controls="flagCommentModal"
                                   aria-haspopup="true"
                                   tabindex="0">
                                    <span class="fi-flag"></span>
                                </a>
                                {{#if currentUser.isAdmin}}
                                    <a class="delete"
                                       data-open="deleteContentModal"
                                       aria-controls="deleteContentModal"
                                       aria-haspopup="true"
                                       tabindex="0">
                                        <span class="fi-x"></span>
                                    </a>
                                {{/if}}


                            </div> <!-- .comment-header -->

                            <div class="comment-body">

                                <p marked="comment.content"></p>

                                <p class="edited-tag"
                                   ng-show="comment.edited">
                                    (edited {[{comment.editedDate |amDurationFormat: 'minute'}]} ago)
                                </p>

                            </div> <!-- .comment-body -->

                            <div class="comment-footer">

                                <ul class="options">
                                    <li>
                                        <a ng-click="toggleReply(comment._id)"
                                           ng-show="!showReplyMap[comment._id] && !showEditMap[comment._id]">
                                            Reply
                                        </a>
                                    </li>
                                    <!--replies-->
                                    <li>
                                        <a ng-click="toggleReply(comment._id)"
                                           class="alt"
                                           ng-show="showReplyMap[comment._id]">
                                            Close
                                        </a>
                                    </li>
                                    <!--editing-->
                                    <li>
                                        <a ng-click="toggleEdit(comment._id)"
                                           class="alt"
                                           ng-show="showEditMap[comment._id]">
                                            Cancel
                                        </a>
                                    </li>
                                    <!--todo: implement-->
                                    <li>
                                        <a ng-click="toggleEdit(comment._id, comment.content)"
                                           ng-show="currentUser._id == comment.author && !showEditMap[comment._id] && !showReplyMap[comment._id]">
                                            Edit
                                        </a>
                                    </li>
                                    <!--todo: implement-->
                                    <li><a ng-click="deleteComment(comment._id)"
                                           class="alt"
                                           ng-show="currentUser._id == comment.author && !showEditMap[comment._id] && !showReplyMap[comment._id]">
                                        Delete
                                    </a>
                                    </li>
                                </ul>

                            </div> <!-- .comment-footer -->
                            <div class="comment-reply" ng-show="showEditMap[comment._id]">

                                <form name="submitEditForm"
                                      novalidate="novalidate"
                                      ng-submit="submitEditComment(comment._id, submitEditForm.content)">
                                    <textarea placeholder="You can use markdown here..."
                                              ng-model="submitEditForm.content"
                                              ng-required="required"
                                              ng-init="submitEditForm.content = comment.content">
                                    </textarea>

                                    <div class="post-reply">
                                        <button type="submit"
                                                ng-disabled="submitEditForm.content == '' || submitEditForm.$pristine">
                                            Save
                                        </button>
                                    </div>
                                </form>


                            </div> <!-- .comment-reply -->

                            <div class="comment-reply" ng-show="showReplyMap[comment._id]">

                                <form name="submitReplyForm"
                                      novalidate="novalidate"
                                      ng-submit="submitReplyTo(comment._id, submitReplyForm.content)">
                                    <textarea placeholder="You can use markdown here..."
                                              ng-model="submitReplyForm.content"
                                              ng-required="required">
                                    </textarea>

                                    <div class="post-reply">
                                        <button type="submit"
                                                ng-disabled="submitReplyForm.content == '' || submitReplyForm.$pristine">
                                            Submit
                                        </button>
                                    </div>
                                </form>


                            </div> <!-- .comment-reply -->
                            <div class="comment-nested" ng-repeat="replyID in comment.replies">

                                <div class="comment" ng-repeat="reply in replies | filter: {_id: replyID}">

                                    <div class="comment-side"
                                         ng-repeat="author in commentAuthors | filter: {_id: reply.author}">

                                        <div class="comment-avatar">

                                            <a href="/user/{[{reply.author}]}/">
                                                <img src="{[{author.avatar}]}">
                                            </a>

                                        </div> <!-- .comment-avatar -->

                                        <div class="comment-score">{[{reply.score}]}</div> <!-- .comment-score -->

                                        <ul class="comment-vote">
                                            <li><a class="fi-like"
                                                   ng-click="upvoteCommentClicked(reply._id)"
                                                   ng-class="{active: currentUser && currentUser.upvotes.indexOf(reply._id) !== -1}">
                                            </a></li>
                                            <li><a class="fi-dislike"
                                                   ng-click="downvoteCommentClicked(reply._id)"
                                                   ng-class="{active: currentUser && currentUser.downvotes.indexOf(reply._id) !== -1}">
                                            </a></li>
                                        </ul> <!-- .comment-vote -->

                                    </div> <!-- .comment-side -->

                                    <div class="comment-main"
                                         ng-repeat="author in commentAuthors | filter: {_id: reply.author}">

                                        <div class="comment-header">

                                            <a href="/user/{[{author._id}]}">
                                                {[{author.name}]}
                                            </a>

                                            <span class="time">{[{reply.timestamp | amDurationFormat: 'minute'}]} ago</span>

                                            <a class="flag"
                                               data-open="flagCommentModal"
                                               title="Flag comment">
                                                <span class="fi-flag"></span>
                                            </a>

                                            {{#if currentUser.isAdmin}}
                                                <a class="delete"
                                                   data-open="deleteContentModal"
                                                   class="Delete comment">
                                                    <span class="fi-x"></span>
                                                </a>
                                            {{/if}}

                                        </div> <!-- .comment-header -->

                                        <div class="comment-body">
                                            <p marked="reply.content"></p>
                                            <p class="edited-tag" ng-show="reply.edited">(edited {[{reply.editedDate |
                                                amDurationFormat: 'minute'}]} ago)</p>

                                        </div> <!-- .comment-body -->


                                        <div class="comment-footer">
                                            <!--todo: restrict on server rendering-->
                                            <ul class="options">
                                                <li><a href="#" ng-show="currentUser._id == reply.author">Edit</a></li>
                                                <li><a href="#" class="alt" ng-show="currentUser._id == reply.author">Delete</a>
                                                </li>
                                            </ul>

                                        </div> <!-- .comment-footer -->

                                    </div> <!-- .comment-main -->

                                </div> <!-- .comment -->

                            </div> <!-- .comment-nested -->


                        </div> <!-- .comment-main -->


                    </div>


                    <div class="comments-post">

                        <label for="">Post a comment</label>
                        <form name="submitCommentForm"
                              novalidate="novalidate"
                              ng-submit="submitCommentClicked(submitCommentForm.content)">
                            <textarea placeholder="You can use markdown here..."
                                      ng-model="submitCommentForm.content"
                                      ng-required="required">
                            </textarea>

                            <div class="submit-comment">
                                <button type="submit"
                                        ng-disabled="submitCommentForm.content == '' || submitCommentForm.$pristine">
                                    Submit
                                </button>
                            </div>
                        </form>


                    </div>


                </div>

            </div>
        </div>
    </div>
</div>