<head>
    <script src="/bundle.js"></script>
    <script src="/assets/js/modules/submission.js"></script>
    <link rel="stylesheet" href="/assets/css/formStyle.css">
</head>
<div class="row" ng-app="submissionApp"
     ng-controller="submissionCtrl"
     data-ng-init="init()">
    <div class="column">

        <div class="details">

            <div class="details-side">
                <div class="vote" ng-controller="voteCtrl">
                    <a class="fi-like" id="submission-upvote-button" ng-click="upvoteClicked(submissionID, true)"></a>

                    <span class="score" id="submission-score">{[{notebook.votes}]}</span>

                    <a class="fi-dislike" id="submission-downvote-button"
                       ng-click="downvoteClicked(submissionID, true)"></a>

                </div>

                {{#if currentUser.isAdmin}}
                    <ul class="admin-options">
                        <li><a href="#" title="Flag notebook" data-open="flagNotebookModal"><span
                                class="fi-flag"></span></a></li>
                        <li><a href="#" title="Delete notebook" data-open="deleteContentModal"><span
                                class="fi-x"></span></a></li>
                    </ul>
                {{/if}}


            </div>

            <div class="details-main">

                <div class="details-header">

                    <div class="details-title">

                        <h1 class="title">{[{notebook.title}]}</h1>
                        <!--if this is the current user's submission-->

                        <ul class="details-options" ng-show="currentUsersSubmission">
                            <li><a href="/user/my-profile/edit/"
                                   title="Edit Submission"><span class="fi-widget"></span></a>
                            </li>
                        </ul>

                        <ul class="topics">
                            <li ng-repeat="topic in notebook.topicList">
                                <a href="/">{[{topic}]}</a>
                            </li>
                        </ul>

                    </div>

                    <div class="details-counts">

                        <div class="counts">
                            <ul>
                                <li class="views"><span class="count">{[{notebook.views}]}</span> Views</li>
                                <li class="comments"><span class="count">{[{notebook.comments.length + notebook.replies.length}]}</span>
                                    Comments
                                </li>
                                <li class="votes"><span class="count">{[{notebook.votes}]}</span> Votes</li>
                            </ul>
                        </div>

                    </div>

                </div>

                <div class="details-body">

                    <div class="details-primary">

                        <p marked="summary"></p>

                    </div>

                    <div class="details-secondary">

                        <div class="side">

                            <p class="avatar"><a href="/user/{[{author._id}]}/"><img src={[{author.avatar}]}></a></p>

                        </div>

                        <div class="main">

                            <ul class="specs">
                                <li><span>Author:</span> <a href="/user/{[{author._id}]}/">{[{author.name}]}</a></li>
                                <li><span>Co-authors:</span>
                                    <a ng-repeat="coAuthor in notebook.coAuthors">
                                        {[{coAuthor.name}]}
                                    </a>
                                    <br>
                                </li>
                                <li><span>Language:</span> <a href="/">{[{notebook.language}]}</a></li>
                                <li><span>Published:</span> {[{notebook.published | date: 'd MMM yyyy'}]}</li>
                                <li><span>Last update:</span> {[{notebook.lastUpdated | date: 'd MMM yyyy'}]}</li>
                            </ul>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="tile">

            <!--Notebook-->
            <div class="tile-header" ng-show="showNotebook">

                <h2 class="tile-title">Notebook</h2>

                <ul class="tile-options">
                    <li></li>
                </ul>

                <ul class="tile-options">
                    <li><a class="active">Notebook</a></li>
                    <li><a ng-click="toggleView()">Comments {[{comments.length + replies.length}]}</a></li>
                    <!--todo: implement download-->
                    <li><a class="alt" ng-click="downloadNotebook()">Download</a>
                    </li>
                </ul>

            </div>

            <!--todo: insert notebook html here-->
            <div ng-show="showNotebook">
                {[{notebook.html}]}
            </div>


            <!--Comments-->
            <div class="tile-header"
                 ng-show="showComments">

                <h2 class="tile-title">Comments</h2>

                <ul class="tile-options">
                    <li><a ng-click="toggleView()">Notebook</a></li>
                    <li><a class="active">Comments {[{comments.length + replies.length}]}</a></li>
                    <li><a class="alt" ng-click="downloadNotebook()">Download</a>
                    </li>
                </ul>

            </div>

            <div class="comments"
                 ng-show="showComments">

                <div class="comments-thread">

                    <div class="comment" ng-repeat="comment in comments">

                        <div class="comment-side">

                            <div class="comment-avatar">

                                <a href="/user/{[{comment.author}]}/"
                                   ng-repeat="commentAuthor in commentAuthors | filter: {_id: comment.author}">
                                    <img src={[{commentAuthor.avatar}]}>
                                </a>

                            </div> <!-- .comment-avatar -->

                            <div class="comment-score" id="score-{[{comment._id}]}">{[{comment.score}]}</div>
                            <!-- .comment-score -->

                            <ul class="comment-vote">
                                <li><a class="fi-like" id="upvote-{[{comment._id}]}"
                                       ng-click="upvoteClicked(comment._id, false)"></a></li>
                                <li><a class="fi-dislike" id="downvote-{[{comment._id}]}"
                                       ng-click="downvoteClicked(comment._id, false)"></a></li>
                            </ul> <!-- .comment-vote -->

                        </div> <!-- .comment-side -->

                        <div class="comment-main">

                            <div class="comment-header">
                                <!--todo: get fuzzy timestamp-->
                                <!--todo: filter users by author id-->
                                <a href="/user/{[{comment.author}]}" ng-repeat="comAuthor in commentAuthors | filter: {_id: comment.author}">
                                    {[{comAuthor.name}]}
                                </a>
                                <span class="time">{[{comment.timestamp | date: 'd MMM yyyy'}]}</span>
                                <a class="flag"
                                   data-open="flagCommentModal"
                                   title="Flag comment"
                                   aria-controls="flagCommentModal"
                                   aria-haspopup="true"
                                   tabindex="0">
                                    <span class="fi-flag"></span>
                                </a>
                                <a class="delete"
                                   data-open="deleteContentModal"
                                   aria-controls="deleteContentModal"
                                   aria-haspopup="true"
                                   tabindex="0">
                                    <span class="fi-x"></span>
                                </a>

                            </div> <!-- .comment-header -->

                            <div class="comment-body">

                                <p>{[{comment.content}]}</p>

                            </div> <!-- .comment-body -->

                            <div class="comment-footer">

                                <ul class="options">
                                    <li><a ng-click="replyClicked()">Reply</a></li>
                                </ul>

                            </div> <!-- .comment-footer -->

                            <div class="comment-reply">


                            </div> <!-- .comment-reply -->

                        </div> <!-- .comment-main -->


                        <div class="comment-nested">

                        </div> <!-- .comment-nested -->

                    </div>


                    <div class="comments-post">

                        <label for="">Post a comment</label>
                        <form name="submitCommentForm"
                              novalidate="novalidate"
                              ng-submit="submitCommentClicked(submitCommentForm.content)">
                            <textarea placeholder="You can use markdown here..."
                                      ng-model="submitCommentForm.content"
                                      ng-required="required">
                            </textarea>

                            <div class="submit-comment">
                                <button type="submit"
                                        ng-disabled="submitCommentForm.content == '' || submitCommentForm.$pristine">
                                    Submit
                                </button>
                            </div>
                        </form>


                    </div>


                </div>

            </div>
        </div>
    </div>
</div>