<head>
    <link rel="stylesheet" href="/assets/css/formStyle.css">
    <script src="/bundle.js"></script>
    <script src="/assets/js/modules/submit.js"></script>
</head>


<form novalidate="novalidate"
      ng-app="submissionApp"
      ng-controller="submitCtrl"
      ng-submit="onSubmissionSubmit(submissionForm.$valid)"
      name="submissionForm">

    <div class="row columns">

        <div class="submit-form">

            <h1 class="page-title">Submit Notebook</h1>

            <div class="submit-upload" ng-app="fileUpload">

                <h2 class="section-title"
                    ng-class="{'has-error': (!submissionForm.file.$valid || !submissionForm.file)
                                                && submissionForm.file.$dirty}">
                    Notebook File <span class="mandatory">*</span>
                </h2>

                <p class="input-hint"
                   ng-show="!submissionFormModel.file">
                    You will be able to preview the rendered Notebook before publishing. A published
                    Notebook can be modified by uploading an updated version.
                </p>

                <!--shown before file is chosen-->
                <div id="dZUploadNB"
                     class="dropzone"
                     ng-model="submissionFormModel.file"
                     name="file"
                     required="required"
                     ng-class="{'has-error': (!submissionForm.file.$valid || !submissionForm.file) && submissionForm.file.$dirty}"
                     ng-show="!submissionFormModel.file"
                     ngf-select
                     ngf-drop="uploadFiles($files)"
                     ngf-drag-over-class="dragover"
                     ngf-multiple="false"
                     ngf-pattern=".ipynb"
                     accept=".ipynb">

                    <div class="dz-default dz-message"
                         ng-show="!submissionFormModel.file">
                        <p class="hint">Drop Notebook file here or <strong>click</strong> to browse</p>
                        <p>You can upload an <strong>.ipynb</strong> file up to 10MB.</p>
                    </div>

                </div>

                <p class="error-help-text"
                   ng-show="submissionForm.file.$error.pattern">
                    Please submit a file of type <strong>.ipynb</strong>
                </p>
                <p class="error-help-text"
                   ng-show="submissionFormModel.file.$error.required && submissionFormModel.file.$dirty">
                    File is required
                </p>

                <!--shown once file is chosen-->
                <div ng-show="submissionFormModel.file"
                     class="dropzone valid">
                    <div class="dz-default dz-message">
                        <p class="hint">File: {[{submissionFormModel.file.name}]}</p>
                    </div>
                </div>

                <ul class="button-row"
                    ng-show="submissionFormModel.file">
                    <li>
                        <button ng-click="chooseDifferentFile()">
                            Choose different file
                        </button>
                    </li>
                </ul>


            </div>

            <div class="submit-header">

                <div class="submit-title">

                    <label class="section-title"
                           for="title"
                           ng-class="{'has-error': !submissionForm.title.$valid && submissionForm.title.$dirty}">
                        Title <span class="mandatory">*</span>
                    </label>

                    <input type="text"
                           placeholder="Notebook Title"
                           id="title"
                           ng-model="submissionFormModel.title"
                           ng-class="{'has-error': !submissionForm.title.$valid && submissionForm.title.$dirty}"
                           name="title"
                           required="required">
                    <p class="error-help-text"
                       ng-show="submissionForm.title.$error.required && submissionForm.title.$dirty">
                        Title is required
                    </p>

                </div>

            </div>

            <div class="submit-primary">

                <div class="submit-primary-group1">

                    <h2 class="section-title">Co-authors</h2>

                    <p class="input-hint">An email will be sent to each co-author requesting their permission to be
                        acknowledged.</p>

                    <div class="coauthor-emails">
                        <input type="email" placeholder="Email address" ng-model="submissionFormModel.coAuthor1">
                        <input type="email" placeholder="Email address" ng-model="submissionFormModel.coAuthor2">
                        <input type="email" placeholder="Email address" ng-model="submissionFormModel.coAuthor3">
                        <input type="email" placeholder="Email address" ng-model="submissionFormModel.coAuthor4">
                    </div>

                    <!--<p class="input-hint input-hint-after"><a href="#">Add more</a></p>-->

                </div>

                <div class="submit-primary-group2">

                    <h2 class="section-title">Author <span class="mandatory">*</span></h2>

                    <p>You are signed in as:</p>

                    <div class="submit-user">

                        <div class="side">

                            <p class="avatar"><a href="/user/my-profile/"><img src={{data.currentUser.avatar}}></a></p>

                        </div>

                        <div class="main">

                            <p class="name"><a href="/user/my-profile/">{{data.currentUser.name}}</a></p>

                            <!--<p class="signout"><a href="#" data-open="signInModal">Sign in as a different user</a></p>-->

                        </div>

                    </div>

                </div>

            </div>

            <div class="submit-secondary">

                <div class="submit-secondary-group1">

                    <h2 class="section-title">Topic</h2>

                    <p class="input-hint">The Notebook will be grouped under each selected topic.</p>

                    <ul class="submit-topics">
                        <li ng-repeat="topic in topics">
                            <input type="checkbox"
                                   name="submissionFormModel.selectedTopics[]"
                                   ng-checked="!submissionFormModel.topics.indexOf(topic)"
                                   ng-click="toggleTopicSelection(topic)"
                                   value="{[{topic}]}"> <label>{[{topic}]}</label>
                        </li>
                    </ul>
                </div>

                <div class="submit-secondary-group2">

                    <label class="section-title"
                           for="language"
                           ng-class="{'has-error':submissionForm.languageSelection.$error.required && submissionForm.languageSelection.$dirty}">
                        Language <span class="mandatory">*</span>
                    </label>

                    <p class="input-hint">The primary programming language used in the Notebook.</p>

                    <select id="language"
                            ng-model="submissionFormModel.language"
                            required="required"
                            name="languageSelection"
                            ng-class="{'has-error':submissionForm.languageSelection.$error.required && submissionForm.languageSelection.$dirty}">
                        <option value="">Select</option>
                        <option value="Python">Python</option>
                        <option value="Julia">Julia</option>
                        <option value="R">R</option>
                        <option value="Other">Other</option>
                    </select>
                    <p class="error-help-text"
                       ng-show="submissionForm.languageSelection.$error.required && submissionForm.languageSelection.$dirty">
                        Language is required
                    </p>

                    <hr>

                    <label class="section-title" for="summary">Summary</label>

                    <p class="input-hint">You can use <a href="http://commonmark.org/help/" target="_blank">markdown</a>
                        here.</p>

                    <textarea placeholder="Notebook summary" id="summary"
                              ng-model="submissionFormModel.summary"></textarea>

                    <p class="input-hint input-hint-after"
                       ng-show="!preview">
                        <a ng-click="togglePreviewSummary()"
                           ng-disabled="!submissionFormModel.summary">
                            Preview
                        </a>
                    </p>

                    <div ng-show="preview && submissionFormModel.summary"
                         class="md-summary">
                        <br>
                        <div marked="submissionFormModel.summary"></div>

                        <p class="input-hint-after input-hint"
                           ng-click="togglePreviewSummary()">
                            Close Summary
                        </p>
                    </div>

                </div>

            </div>

            <div class="submit-footer">

                <p class="section-title"
                   ng-class="{'has-error':submissionForm.agreement.$error.required && submissionForm.agreement.$dirty}">
                    Terms <span class="mandatory">*</span>
                </p>

                <label>
                    <input type="checkbox"
                           required="required"
                           ng-model="submissionFormModel.agreement"
                           ng-class="{'has-error':submissionForm.agreement.$error.required && submissionForm.agreement.$dirty}"
                           name="agreement">
                    I agree to the <a href="#">Terms and Conditions</a> of publishing content
                    and sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                    laborum.
                </label>
                <p class="error-help-text"
                   ng-show="submissionForm.agreement.$error.required && submissionForm.agreement.$dirty">
                    Agreement is required
                </p>

            </div>

            <ul class="button-row">
                <li>
                    <button name="submit"
                            type="submit"
                            ng-disabled="submissionForm.$invalid">Preview
                    </button>
                </li>
            </ul>

        </div>

    </div>

</form>