<head>
    <link rel="stylesheet" href="/assets/css/formStyle.css">
    <script src="/bundle.js"></script>
    <script>
        //todo: change this once not running on local host
        var url = 'http://localhost:8080';
        var app = angular.module('submissionApp', ['ngFileUpload', 'hc.marked']);

        app.config(function ($interpolateProvider) {
            $interpolateProvider.startSymbol('{[{');
            $interpolateProvider.endSymbol('}]}');
        });

        app.config(['markedProvider', function (markedProvider) {
            markedProvider.setOptions({
                gfm: true
            });
        }]);

        app.controller('submitCtrl', ['$scope', 'Upload', function ($scope, Upload, $http, $window) {
            // variables ============================================
            $scope.submissionFormModel = {};
            $scope.preview = false;

            // methods ==============================================
            $scope.chooseDifferentFile = function () {
                $scope.submissionFormModel.file = null;
            };

            $scope.upload = function () {
                Upload.upload({
                    url: url + '/submit/file',
                    data: {
                        title: $scope.submissionFormModel.title,
                        summary: $scope.submissionFormModel.summary,
                        language: $scope.submissionFormModel.language,
                        //todo: add co-authors
                        coAuthors: [],
                        //todo: add topic list
                        topicList: [],

                        //set default values
                        comments: [],
                        views: 0,
                        votes: 0
                    },
                    file: $scope.submissionFormModel.file
                }).then(
                        //success
                        function (res) {
                            console.log('Success ' + res.config.data.file.name + ' uploaded. \nResponse: ' + res.data);
                            window.location = url + '/submit/preview';
                        },
                        //failure
                        function (res) {
                            console.log('Error: ' + res.status);
                        },
                        //progress
                        function (evt) {
                            var progressPercentage = parseInt(100.0 * evt.loaded / evt.total);
                            console.log('progress: ' + progressPercentage + '% ' + evt.config.data.file.name);
                        }
                );
            };

            $scope.togglePreviewSummary = function () {
                $scope.preview = !$scope.preview;
                console.log("Toggle preview summary: ", $scope.preview);
            };

            $scope.onSubmissionSubmit = function (valid) {
                if (valid && $scope.submissionForm.file.$valid && $scope.submissionFormModel.file) {
                    console.log("Valid Form!");
                    console.log("FormModel: ", $scope.submissionFormModel);
                    $scope.upload();
                } else {
                    console.log("Form is invalid");
                }
            };


        }])
    </script>
</head>


<form novalidate="novalidate"
      ng-app="submissionApp"
      ng-controller="submitCtrl"
      ng-submit="onSubmissionSubmit(submissionForm.$valid)"
      name="submissionForm">

    <div class="row columns">

        <div class="submit-form">

            <h1 class="page-title">Submit Notebook</h1>

            <div class="submit-upload" ng-app="fileUpload">

                <h2 class="section-title"
                    ng-class="{'has-error': (!submissionForm.file.$valid || !submissionForm.file)
                                                && submissionForm.file.$dirty}">
                    Notebook File <span class="mandatory">*</span>
                </h2>

                <p class="input-hint"
                   ng-show="!submissionFormModel.file">
                    You will be able to preview the rendered Notebook before publishing. A published
                    Notebook can be modified by uploading an updated version.
                </p>

                <!--shown before file is chosen-->
                <div id="dZUploadNB"
                     class="dropzone"
                     ng-model="submissionFormModel.file"
                     name="file"
                     required="required"
                     ng-class="{'has-error': (!submissionForm.file.$valid || !submissionForm.file) && submissionForm.file.$dirty}"
                     ng-show="!submissionFormModel.file"
                     ngf-select
                     ngf-drop="uploadFiles($files)"
                     ngf-drag-over-class="dragover"
                     ngf-multiple="false"
                     ngf-pattern=".ipynb"
                     accept=".ipynb"
                >

                    <div class="dz-default dz-message"
                         ng-show="!submissionFormModel.file">
                        <p class="hint">Drop Notebook file here or <strong>click</strong> to browse</p>
                        <p>You can upload an <strong>.ipynb</strong> file up to 10MB.</p>
                    </div>

                </div>

                <p class="error-help-text"
                   ng-show="submissionForm.file.$error.pattern">
                    Please submit a file of type <strong>.ipynb</strong>
                </p>
                <p class="error-help-text"
                   ng-show="submissionFormModel.file.$error.required && submissionFormModel.file.$dirty">
                    File is required
                </p>

                <!--shown once file is chosen-->
                <div ng-show="submissionFormModel.file"
                     class="dropzone valid">
                    <div class="dz-default dz-message">
                        <p class="hint">File: {[{submissionFormModel.file.name}]}</p>
                    </div>
                </div>

                <ul class="button-row"
                    ng-show="submissionFormModel.file">
                    <li>
                        <button ng-click="chooseDifferentFile()">
                            Choose different file
                        </button>
                    </li>
                </ul>


            </div>

            <div class="submit-header">

                <div class="submit-title">

                    <label class="section-title"
                           for="title"
                           ng-class="{'has-error': !submissionForm.title.$valid && submissionForm.title.$dirty}">
                        Title <span class="mandatory">*</span>
                    </label>

                    <input type="text"
                           placeholder="Notebook Title"
                           id="title"
                           ng-model="submissionFormModel.title"
                           ng-class="{'has-error': !submissionForm.title.$valid && submissionForm.title.$dirty}"
                           name="title"
                           required="required">
                    <p class="error-help-text"
                       ng-show="submissionForm.title.$error.required && submissionForm.title.$dirty">
                        Title is required
                    </p>

                </div>

            </div>

            <div class="submit-primary">

                <div class="submit-primary-group1">

                    <h2 class="section-title">Co-authors</h2>

                    <p class="input-hint">An email will be sent to each co-author requesting their permission to be
                        acknowledged.</p>

                    <div class="coauthor-emails">
                        <input type="email" placeholder="Email address" ng-model="submissionFormModel.coAuthor1">
                        <input type="email" placeholder="Email address" ng-model="submissionFormModel.coAuthor2">
                        <input type="email" placeholder="Email address" ng-model="submissionFormModel.coAuthor3">
                        <input type="email" placeholder="Email address" ng-model="submissionFormModel.coAuthor4">
                    </div>

                    <!--<p class="input-hint input-hint-after"><a href="#">Add more</a></p>-->

                </div>

                <div class="submit-primary-group2">

                    <h2 class="section-title">Author <span class="mandatory">*</span></h2>

                    <p>You are signed in as:</p>

                    <div class="submit-user">

                        <div class="side">

                            <p class="avatar"><a href="/user/my-profile/"><img src={{data.currentUser.avatar}}></a></p>

                        </div>

                        <div class="main">

                            <p class="name"><a href="/user/my-profile/">{{data.currentUser.name}}</a></p>

                            <!--<p class="signout"><a href="#" data-open="signInModal">Sign in as a different user</a></p>-->

                        </div>

                    </div>

                </div>

            </div>

            <div class="submit-secondary">

                <div class="submit-secondary-group1">

                    <h2 class="section-title">Topic</h2>

                    <p class="input-hint">The Notebook will be grouped under each selected topic.</p>

                    <!--todo: figure out efficient way to bind to ng-model-->
                    <ul class="submit-topics">
                        <li><input id="topic1" type="checkbox"><label for="topic1">General Economics and
                            Teaching</label></li>
                        <li><input id="topic2" type="checkbox"><label for="topic2"
                                                                      title="History of Economic Thought, Methodology, and Heterodox Approaches">History
                            of Economic Thought, Methodology, and Heterodox Approaches</label></li>
                        <li><input id="topic3" type="checkbox"><label for="topic3">Mathematical and Quantitative
                            Methods</label></li>
                        <li><input id="topic4" type="checkbox"><label for="topic4">Microeconomics</label></li>
                        <li><input id="topic5" type="checkbox"><label for="topic5">Macroeconomics and Monetary
                            Economics</label></li>
                        <li><input id="topic6" type="checkbox"><label for="topic6">International Economics</label></li>
                        <li><input id="topic7" type="checkbox"><label for="topic7">Financial Economics</label></li>
                        <li><input id="topic8" type="checkbox"><label for="topic8">Public Economics</label></li>
                        <li><input id="topic9" type="checkbox"><label for="topic9">Health, Education, and
                            Welfare</label></li>
                        <li><input id="topic10" type="checkbox"><label for="topic10">Labor and Demographic
                            Economics</label></li>
                        <li><input id="topic11" type="checkbox"><label for="topic11">Law and Economics</label></li>
                        <li><input id="topic12" type="checkbox"><label for="topic12">Industrial Organization</label>
                        </li>
                        <li><input id="topic13" type="checkbox"><label for="topic13"
                                                                       title="Business Administration and Business Economics">Business
                            Administration and Business Economics</label></li>
                        <li><input id="topic14" type="checkbox"><label for="topic14">Economic History</label></li>
                        <li><input id="topic15" type="checkbox"><label for="topic15"
                                                                       title="Economic Development, Innovation, Technological Change, and Growth">Economic
                            Development, Innovation, Technological Change, and Growth</label></li>
                        <li><input id="topic16" type="checkbox"><label for="topic16">Economic Systems</label></li>
                        <li><input id="topic17" type="checkbox"><label for="topic17">Agricultural and Natural Resource
                            Economics</label></li>
                        <li><input id="topic18" type="checkbox"><label for="topic18"
                                                                       title="Urban, Rural, Regional, Real Estate, and Transportation Economics">Urban,
                            Rural, Regional, Real Estate, and Transportation Economics</label></li>
                    </ul>

                </div>

                <div class="submit-secondary-group2">

                    <label class="section-title"
                           for="language"
                           ng-class="{'has-error':submissionForm.languageSelection.$error.required && submissionForm.languageSelection.$dirty}">
                        Language <span class="mandatory">*</span>
                    </label>

                    <p class="input-hint">The primary programming language used in the Notebook.</p>

                    <select id="language"
                            ng-model="submissionFormModel.language"
                            required="required"
                            name="languageSelection"
                            ng-class="{'has-error':submissionForm.languageSelection.$error.required && submissionForm.languageSelection.$dirty}">
                        <option value="">Select</option>
                        <option value="Python">Python</option>
                        <option value="Julia">Julia</option>
                        <option value="R">R</option>
                        <option value="Other">Other</option>
                    </select>
                    <p class="error-help-text"
                       ng-show="submissionForm.languageSelection.$error.required && submissionForm.languageSelection.$dirty">
                        Language is required
                    </p>

                    <hr>

                    <label class="section-title" for="summary">Summary</label>

                    <p class="input-hint">You can use <a href="http://commonmark.org/help/" target="_blank">markdown</a>
                        here.</p>

                    <textarea placeholder="Notebook summary" id="summary"
                              ng-model="submissionFormModel.summary"></textarea>

                    <p class="input-hint input-hint-after"
                       ng-show="!preview">
                        <a ng-click="togglePreviewSummary()"
                           ng-disabled="!submissionFormModel.summary">
                            Preview
                        </a>
                    </p>

                    <div ng-show="preview && submissionFormModel.summary"
                         class="md-summary">
                        <br>
                        <div marked="submissionFormModel.summary"></div>

                        <p class="input-hint-after input-hint"
                           ng-click="togglePreviewSummary()">
                            Close Summary
                        </p>
                    </div>

                </div>

            </div>

            <div class="submit-footer">

                <p class="section-title"
                   ng-class="{'has-error':submissionForm.agreement.$error.required && submissionForm.agreement.$dirty}">
                    Terms <span class="mandatory">*</span>
                </p>

                <label>
                    <input type="checkbox"
                           required="required"
                           ng-model="submissionFormModel.agreement"
                           ng-class="{'has-error':submissionForm.agreement.$error.required && submissionForm.agreement.$dirty}"
                           name="agreement">
                    I agree to the <a href="#">Terms and Conditions</a> of publishing content
                    and sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                    laborum.
                </label>
                <p class="error-help-text"
                   ng-show="submissionForm.agreement.$error.required && submissionForm.agreement.$dirty">
                    Agreement is required
                </p>

            </div>

            <ul class="button-row">
                <li>
                    <button name="submit"
                            type="submit"
                            ng-disabled="submissionForm.$invalid">Preview
                    </button>
                </li>
            </ul>

        </div>

    </div>

</form>