@media only screen and (max-width: 768px)  {

	body {
		min-width: auto !important;
	}

	.container {
		width: auto;
	}

	.landing-logos {
		display: none;
	}

	.tile {
		box-shadow: none;
		border-radius: 0;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}
	.notebook-summary {
		padding: 1rem 2rem;
		flex-direction: column;
		align-items: flex-start;
		position: relative;
	}
	.notebook-summary .avatar {
		position: absolute;
		top: 1rem;
		left: 2rem;
		margin: 0;
	}
	.notebook-summary .specs {
		padding-left: 70px;
	}
	.notebook-summary>.stats {
		padding-left: 70px;
		margin: 0.5rem 0 0 0;
		text-align: left;
	}
	.notebook-summary .stats ul {
		
	}
	.notebook-summary .stats li {
		width: auto;
		margin-right: 1rem;
	}
	.notebook-summary .stats .count {
		font-size: 1.2rem;
	}
	.notebook-summary .stats.display {
		display: inline;
		font-size: 0.9rem;
		margin: 0 0 0 0.5rem;
		color: #888;
	}
	.notebook-summary .specs .short {
		
	}

	.filters {
		padding: 0.75rem 2rem;
	}

	.filters .sort-inputs {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.filters .sort-inputs>* {
		margin: 0.25rem 0;
	}

	.filters .sort-inputs label {
		padding: 0;
	}

	.filters .sort-inputs label select {
	}

	.filters .filter-inputs {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.filters .filter-inputs>* {
		margin: 0.25rem 0;
	}

	.filters .filter-inputs button {
		display:none;
	}

	.landing-logos ul {
		display: flex;
		justify-content: space-around;
	}

	.landing-logos ul li a img {
		margin: 0;
	}

	.header .header-container {
		flex-direction: column;
		padding: 2rem 0;
	}

	.header .header-container .site-tag {
		display: none;
	}

	.header .header-container .site-nav {
		align-items: center;
		margin: 1rem 0 0 0;
	}

	.header .header-container .site-links ul li {
		margin: 0 1rem;
	}

	.breadcrumbs {
		padding: 2rem 2rem 0 2rem;
	}

	.details {
		flex-direction: column-reverse;
		margin: 0;
	}

	.details .details-main {
		padding: 0 2rem;
	}

	.details .details-main .details-header {
		display: block;
		padding: 2rem 0;
	}

	.details .details-main .details-header .details-counts .counts li {
		width: auto;
		margin: 0.5rem 1rem 0 0;
	}

	.details .details-main .details-header .details-counts .counts .count {
		display: inline;
	}

	.details .details-side {
		min-width: 0;
		padding: 2rem 2rem;
	}

	.details .details-side .vote {
		padding: 0;
		display: flex;
		width: auto;
		margin: 0;
		justify-content: center;
	}

	.details .details-side .vote .score {
		padding: 0 1rem;
	}

	.details .details-side .vote a {
		padding: 2px 5px;
	}

	.details .details-main .details-body {
		padding: 1rem 0;
		display: block;
	}

	.details .details-main .details-body .details-primary {
		padding: 0 0 1rem 0;
	}

	.details .details-main .details-body .details-secondary {
		border: 0;
		padding: 0;
	}

	.tile .tile-header {
		margin: 0;
		padding: 1rem 4rem;
	}

	.tile .tile-header .tile-options {
		justify-content: space-between;
	}

	.tile .tile-header .tile-options li a {
		display: block;
		padding: 5px 5px;
	}

	.submit-form .submit-primary {
		border: 0;
	}

	.submit-form .submit-primary .submit-primary-group2 {
		border: 0;
		padding: 0;
	}

	.submit-form .submit-footer {
		width: auto;
		padding: 0 2rem;
	}

	.submit-form .submit-secondary {
		display: block;
		padding: 0;
		border: 0;;
	}

	.submit-form .submit-secondary .submit-secondary-group1 {
		padding: 2rem;
	}

	.submit-form .submit-secondary .submit-secondary-group2 {
		padding: 3rem 2rem;
		border: 0;
	}

	.submit-form .submit-secondary .submit-secondary-group2 hr {
		visibility: hidden;
		padding: 1rem;
	}

	.button-row {
		padding: 4rem 0;
		margin: 0;	
	}

	.comments {
		padding: 0 2rem;
	}

	.comments .comments-thread .comment {
		display: block;
	}

	.comments .comments-thread .comment .comment {
		border-left: 5px solid $color-primary !important;
		padding-left:1rem;
	}

	.comments .comments-thread .comment .comment-side {
		float:left;
	}

	.comments .comments-thread .comment .comment-main .comment-header {
		padding-left: 75px;
	}

	.comments .comments-thread .comment .comment-main .comment-body {
		padding-left: 75px;
	}

	.comments .comments-thread .comment .comment-main .comment-footer {
		padding-left: 75px;
	}



}