// Main
$body-font-family: 'Raleway', sans-serif; // Font-family

$color-dark: #444444; // Default font colour
$color-medium: #cacaca; // Borders
$color-light: #888888; // Faint font colour
$color-primary: #d84d0a;
$color-secondary: #2473a8;
$color-background: #f1f1f1;
$color-primary-text: #0a0a0a; // Primary text colour
$color-primary-form: #0a0a0a; // Labels in submission
$color-selection-border: #cacaca; // Selection box border
$color-selection-background: #fefefe; // Selection box background

//Breadcrumb styles
$bc-color-slash: #cacaca; // Breadcrumb slashes betwee links
$bc-font-size: 0.85938rem; // Breadcrumb font size

//Comments styles
$com-label-size: 1.4rem; // Label right above the comment textbox

//Header styles
$hd-color-dark: #444; // Background of the header
$hd-color-light: #fff;
$hd-color-secondary: #e43;
$hd-font-family: 'Exo', sans-serif;

// errors, alerts , warnings
$color-error-comments: #ff425d;