// Submit component styles

.detected-language {
    margin: 0;
    border: 1px solid #cacaca;
    background: #fff;
    border-radius: 5px;
    padding-left: 0.5em;
}

.notebook-language {
    padding-left: 0.5em;
    font-size: 14px;
}

.notebook-language:first-letter {
    text-transform: capitalize;
}

