.admin-content {
	padding: 2rem;
}

.admin-button-row {
	list-style: none;
	padding:0;
	margin:1rem 0;
	display: flex;
	li {
		margin:0 1rem 0 0;
		button {
			@include small-button;
			color: $color-primary;
		}
	}
}

.page-title .announcements .container {
	width: auto;
}

.announcements {
	button {
		@include small-button;
		color: $color-primary;
		margin:0 1rem 0 0;
	}
}

.announcements-list {
    border: 1px solid #c3c3c3;
    background: #dee7db;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin: 2rem 0;
    .announcement {
        border-bottom: 1px solid #c3c3c3;
        font-weight: 700;
        &:last-child {
            border-bottom:0;
        }
    }
}