// misc.scss
// Miscellaneous styles

.loading-spinner {
    margin: auto;
    display: block;

}

.loading-container {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.overlay {
    background: rgba(0, 0, 0, .4);
    position: fixed;
    left: 0;
    top: 0;
}

ul.links {
    list-style-type: none;
}

li.link {
    display: inline-block;
    padding-top: .5rem;
    padding-right:1rem;
    padding-left: 1rem;
}

ul.terms-and-conditions {
    list-style-type: none;
}

span.title {
    font-weight: bold;
}

.comment-body .edited-tag {
    color: #888;
}

ul.pagination li.active {
    border: 1px solid #d84d0a;
    background: transparent;
    color: #d84d0a !important;
    font-weight: 700
}

ul.pagination li.active a {
    color: #d84d0a !important;
    font-weight: 700
}

img.text-loading {
    height: 10%;
    width: 10%;
}

li.vertical-center {
    padding-top: 1rem;
}

ul.horizontal {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2rem 0 0;
    vertical-align: middle;
}

p.banner-center{
    text-align: 'center';
    float: left;
    width: 75%
}

img.text-loading-medium {
    height: 60%;
    width: 60%;
}

img.loading-avatar {
    height: 100%;
    width: 200%;
}

.question {
    
}

.question::before {
    content: 'Q: ';
    color: #d84d0a;
    font-size: 1.5rem;
    font-weight: bold;
}

.answer::before {
    content: 'A: ';
    color: #d84d0a;
    font-size: 1.5rem;
    font-weight: bold;
}

.answer {
    
}

.border-bottom {
    border-bottom: 1px solid #cacaca;
    padding-bottom: 1rem;
}

.qa {
    background: white;
    padding: 2rem;
    margin: 2rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.page-title {
    padding: 0 2rem !important;
    border-radius: 5px !important;
}

.title-name {
    padding: 1rem;
    font-size: 2rem;
    border-bottom: 1px solid #cacaca;
    color: black;
}

 /* This is the classes that Trevor Lyon (tlyon3) has added */
  /* Admin page css styles*/
  .section-header button {
    color: #d84d0a;
    font-weight: bold;
  }

  ul.admin-button-row{
    list-style: none
  }

  ul.admin-button-row li{
    display: inline;
    padding: 1rem;
  }

  ul.admin-button-row li button {
    color: #d84d0a;
    border: 1px solid #d84d0a;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-weight: bold; 
  }
  ul.admin-button-row li button:hover {
    background: #d84d0a;
    color: #fff;
  }

.loader {
    align-content: center;
    align-self: center;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #d84d0a;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

.loader .large {
    width: 120px;
    height: 120px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #d84d0a;
}

@keyframes spin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

// Supplementary files
ul.supplementary {
    list-style: none
}

ul.supplementary span {
    display: inline-block;
}

ul.supplementary span p {
    float: left;
}

ul.supplementary span a {
    padding-left: 1rem
}