//  modals.scss
// Modal styles

body.is-reveal-open {
  overflow: hidden;
}

html.is-reveal-open {
  min-height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  body {
    min-height: 100%;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.reveal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1005;
  display: none;
  background-color: rgba(10, 10, 10, 0.45);
  overflow-y: scroll;
}

.reveal {
  z-index: 1006;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: none;
  padding: 1rem;
  border: 1px solid #cacaca;
  border-radius: 0;
  background-color: #fefefe;
  position: relative;
  top: 100px;
  margin-right: auto;
  margin-left: auto;
  overflow-y: auto;
}

[data-whatinput='mouse'] .reveal {
  outline: 0;
}

@media print, screen and (min-width: 40em) {
  .reveal {
    min-height: 0;
  }
}

.reveal {
  .column, .columns {
    min-width: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  &.collapse {
    padding: 0;
  }
  &.full {
    top: 0;
    left: 0;
    width: 100%;
    max-width: none;
    height: 100%;
    height: 100vh;
    min-height: 100vh;
    margin-left: 0;
    border: 0;
    border-radius: 0;
  }
  &.without-overlay {
    position: fixed;
  }
}

@media print, screen and (min-width: 40em) {
  .reveal {
    width: 600px;
    max-width: 78.125rem;
  }
}

@media print, screen and (min-width: 40em) {
  .reveal .reveal {
    right: auto;
    left: auto;
    margin: 0 auto;
  }
}

@media print, screen and (min-width: 40em) {
  .reveal.tiny {
    width: 30%;
    max-width: 78.125rem;
  }
}

@media print, screen and (min-width: 40em) {
  .reveal.small {
    width: 50%;
    max-width: 78.125rem;
  }
}

@media print, screen and (min-width: 40em) {
  .reveal.large {
    width: 90%;
    max-width: 78.125rem;
  }
}

@media screen and (max-width: 39.9375em) {
  .reveal {
    top: 0;
    left: 0;
    width: 100%;
    max-width: none;
    height: 100%;
    height: 100vh;
    min-height: 100vh;
    margin-left: 0;
    border: 0;
    border-radius: 0;
  }
}

.close-button {
  position: absolute;
  color: #8a8a8a;
  cursor: pointer;
}

[data-whatinput='mouse'] .close-button {
  outline: 0;
}

.close-button {
  &:hover, &:focus {
    color: #0a0a0a;
  }
  &.small {
    right: 0.66rem;
    top: 0.33em;
    font-size: 1.5em;
    line-height: 1;
  }
  right: 1rem;
  top: 0.5rem;
  font-size: 2em;
  line-height: 1;
  &.medium {
    right: 1rem;
    top: 0.5rem;
    font-size: 2em;
    line-height: 1;
  }
}

.modal {
    padding:0 2rem !important;
    border-radius: 5px !important;
    .modal-header {
        border-bottom:1px solid $color-medium;
        padding:2rem 0 1rem 0;
        .modal-title {
            font-size:1.8rem;
            line-height: 1;
            padding:0;
            margin:0;
            color: $color-primary;
        }
    }
    .modal-body {
        padding:2rem 0;
        text-align: center;
    }
    .social-login {
        list-style: none;
        margin:2rem auto;
        padding:0;
        width:400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            width:45%;
            //display: block;
            margin:0 0 1rem 0;
            a {
                display: block;
                color: $color-primary;
                font-size: 1.3rem;
                padding:0.5rem 50px;
                //background:#fff;
                border:1px solid $color-primary;
                border-radius: 5px;
                position: relative;
                span {
                    position: absolute;
                    top:-8px;
                    left:12px;
                    font-size: 2.5rem;
                }
                &:hover {
                    background:#fff;
                    color: #fff;
                    background:$color-primary;
                }
            }
        }
    }
    .options {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin:0;
        padding:1rem 0 0 0;
        li {
            margin:0;
            a {
                @include medium-button;
            }
        }
    }
    .close-button {
        color: $color-primary;
    }
}