.loading-spinner {
    margin: auto;
    display: block;

}

.loading-container {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.overlay {
    background: rgba(0, 0, 0, .4);
    position: fixed;
    left: 0;
    top: 0;
}