.loading-spinner {
    margin: auto;
    display: block;

}

.loading-container {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.overlay {
    background: rgba(0, 0, 0, .4);
    position: fixed;
    left: 0;
    top: 0;
}

.comment-body .edited-tag {
    color: #888;
}

ul.pagination li.active {
    border: 1px solid #d84d0a;
    background: transparent;
    color: #d84d0a!important;
    font-weight: 700
}

ul.pagination li.active a{
    color: #d84d0a!important;
    font-weight: 700
}