//	Layout styles for submission and user landing pages

.details {
    display: flex;
    margin:2rem 0;
    .details-side {
        min-width:126px;
        flex-shrink: 0;
        .vote {
            text-align: center;
            padding:2.5rem 0;
            line-height: 1.5;
            width:50px;
            margin:0 auto;
            .score {
                display: block;
                font-size: 1.8rem;
            }
            a {
                display: block;
                font-size:1.8rem;
                line-height: 1;
                color: $color-light;
                border: 1px solid $color-primary;
                //border: 1px solid $color-dark;
                color: $color-primary;
                //color: $color-dark;
                border-radius: 5px;
                &:hover, &.active {
                    background: $color-primary;
                    color: #fff;
                }
            }
        }
        .admin-options {
            list-style: none;
            margin:0px;
            padding:0;
            display: flex;
            flex-direction: column;
            align-items: center;
            li {
                margin:0;
                padding:0;
                a {
                    color: $color-medium;
                    font-size: 1.5rem;
                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }
        .avatar {
            margin:2.5rem 0;
            padding:0 2rem;
            height: 75px;
            overflow: hidden;
            text-align: center;
            img {
                border:1px solid $color-medium;
                border-radius: 5px;
                width:75px;
            }
        }
    }
    .details-main {
        flex-grow: 1;
        .details-header {
            display: flex;
            align-items: flex-end;
            padding:2rem;
            position: relative;
            .details-title {
                flex: 1;
                .title {
                    font-size: 2rem;
                    margin:0 0 1rem 0;
                    display: inline-block;
                    //word-break: break-all;
                }
                .date {
                    margin:0;
                }
                .topics {
                    list-style: none;
                    margin:0;
                    padding:0;
                    display: flex;
                    li {
                        a {
                            @include small-button;
                        }
                    }
                }
            }
            .details-counts {
                .counts {
                    text-align: center;
                    a {
                        color: $color-dark;
                        display: block;
                    }
                    ul {
                        display: flex;
                        list-style: none;
                        padding:0;
                        margin:0;
                    }
                    li {
                        margin:0;
                        padding:0;
                        font-size: 0.9rem;
                        width:60px;
                    }
                    .count {
                        color: $color-primary;
                        display: block;
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .details-body {
            display: flex;
            padding:2rem;
            border-top: 1px solid $color-medium;
            .details-primary {
                flex: 1;
                padding:0 2rem 0 0;
                //word-break: break-word;
            }
            .details-secondary {
                flex: 1;
                padding:0 0 0 2rem;
                border-left: 1px solid $color-medium;
                display: flex;
            }
            .avatar {
                margin:0 2rem 0 0;
                height:50px;
                overflow: hidden;
                img {
                    border-radius: 5px;
                    border:1px solid $color-medium;
                    width:50px;
                }
            }
            .specs {
                list-style: none;
                padding: 0;
                margin:0;
                li {
                    margin:0 0 0.5rem 0;
                    position: relative;
                    padding:0 0 0 100px;
                    span {
                        position: absolute;
                        top:0;
                        left:0;
                        //display: inline-block;
                        width:100px;
                        font-weight: bold;
                        //text-transform: uppercase;
                        //font-size: 0.9rem;
                    }
                    a {
                        font-weight: bold;
                        min-height: 1.5rem;
                        display: block;
                    }
                }
            }
            .detail-label {
                display: inline-block;
                width:80px;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 0.8rem;
                //text-align: right;
                //margin:0 1rem 0 0;
            }
            .web {
                font-weight: bold;
            }
            .networks {
                list-style: none;
                padding:0;
                margin:2rem 0 0 0;
                display: flex;
                li {
                    margin:0 1rem 0 0;
                    a {
                        @include small-button;
                        line-height: 1;
                        color: $color-dark;
                        border-color: $color-dark;
                        &:hover {
                            background: $color-dark;
                            color:#fff;
                        }
                    }
                }
            }
        }
    }
    .details-options {
        list-style: none;
        margin: 0;
        padding:0;
        //position: absolute;
        //top: 2rem;
        //right: 2rem;
        li {
            float: left;
            a {
                @include small-button;
                line-height: 1;
            }
        }
    }
    .details-flag {
        list-style: none;
        margin: 0;
        padding:0;
        position: absolute;
        top: -3rem;
        right: 0rem;
        li {
            float: left;
            a {
                @include small-button;
                line-height: 1;
                border: 1px solid $color-light;
                color: $color-light;
                &:hover {
                    background:$color-light;
                }
            }
        }
    }
}
