//	notebook-render.scss
//	Notebook rendering styles

#notebook {
    overflow: hidden;
    font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    }
}

div.outputs .cell code {
//    display: block !important;
//    padding: .5rem;
}

.outputs {
//    display: block !important;
//    background-color: #eeeeee !important
}


/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-fat-cursor-mark {
  background-color: rgba(20, 255, 20, 0.5);
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
}
.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
  background-color: #7e7;
}
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: -20px;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px; margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -30px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto;
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }

/*
  App
 */
:root {
  --prompt-width: 50px;
  --cell-placeholder-opacity: 0.3;
}

@media print {
  * {
    box-shadow: none!important;
  }
  .status-bar{
    display: none!important;
  }
  .notifications-wrapper {
    display: none!important;
  }
  .cell-toolbar{
    display: none!important;
  }
  .cell-creator{
    display: none!important;
  }

}

#app {
  padding-top: 20px;
}

@keyframes fadeOut {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}

div#loading {
  animation-name: fadeOut;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

/*
  Globals
 */

.cell pre
{
    font-size: 14px;
    line-height: 1.21429em;

    word-wrap: break-word;
}

.cell img
{
    display: block;
    max-width: 100%;
}

.cell table {
    border-collapse: collapse;
}

.cell th,
.cell td {
    padding: 0.5em 1em;
    border: 1px solid var(--primary-border);
}

.cell th {
    text-align: left;
}

.cell blockquote{
  padding: .75em .5em .75em 1em;
  background: var(--main-bg-color);
  border-left: 0.5em solid #DDD;
}

.cell blockquote::before {
  display: block;
  height: 0;
  content: "“";
  margin-left: -.95em;
  font: italic 400%/1 Open Serif,Georgia,"Times New Roman", serif;
  color: solid var(--primary-border);
}

/* for nested paragraphs in block quotes */
.cell blockquote p {
  display: inline;
}

/*
  Notebook
 */

.notebook {
    padding-top : 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/*
  Cell
 */

.draggable-cell {
    position: relative;
    padding: 10px;
}

.cell-drag-handle
{
    position: absolute;
    z-index: 200;
    width: var(--prompt-width);
    height: 100%;
    cursor: move;
}

.cell {
    position: relative;
    background: var(--cell-bg);
    transition: all .1s ease-in-out;
}

.cell.focused {
    box-shadow: 3px 3px 9px rgba(0,0,0,.12), -3px -3px 9px rgba(0,0,0,.12);
}

.cell:focus .prompt,
.cell.focused .prompt
{
    background-color: var(--cell-bg-focus);
}

.cell-toolbar-mask
{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 99;
    height: 34px;

    /* Set the left padding to 50px to give users extra room to move their
    mouse to the toolbar without causing the cell to go out of focus and thus
    hide the toolbar before they get there. */
    padding: 0px 0px 0px 50px;
}

.cell-toolbar
{
    display: inline-box;
    background-color: var(--toolbar-bg);
}

.cell-toolbar button
{
    display: inline-block;

    width: 22px;
    height: 20px;
    padding: 0px 4px;

    text-align: center;

    border: none;
    outline: none;
    background: none;

}

.cell-toolbar button span
{
    font-size: 15px;
    line-height: 1;
    color: var(--toolbar-button);

}

.cell.text .rendered
{
    padding: 10px 10px 10px var(--prompt-width);
    outline: none;
}

.cell-placeholder {
    text-align: center;
    color: var(--main-fg-color);
    padding: 10px;
    opacity: var(--cell-placeholder-opacity);
}

.outputs>div
{
    word-wrap: break-word;
    padding: 10px 10px 10px calc(var(--prompt-width) + 10px);
}

.outputs>div:empty
{
    display:none;
}

.cell .input-container
{
    display: flex;
    flex-direction: row;
}

.cell .input-container.invisible {
    height: 34px;
}

.cell .prompt
{
    font-family: monospace;
    font-size: 12px;

    width: var(--prompt-width);
    padding: 9px 0;

    text-align: center;

    color: var(--input-color);
    background-color: var(--pager-bg);

    flex: 0 0 auto;
}

.cell .input-container .input
{
    flex: 1 1 auto;
    overflow: auto;
}

.creator-hover-mask {
  display: block;
  position: relative;
  overflow: visible;
  height: 0px;
}

.creator-hover-region {
  display: flex;
  position: relative;
  overflow: visible;
  top: -30px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.cell-creator {
  display: inline-block;
  background: var(--main-bg-color);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.50);
  margin-top: -15px;
  pointer-events: all;
}

.cell-creator button
{
  display: inline-block;

  width: 22px;
  height: 20px;
  padding: 0px 4px;

  text-align: center;

  border: none;
  outline: none;
  background: none;
}

.cell-creator button span
{
  font-size: 15px;
  line-height: 1;

  color: var(--toolbar-button);
}

.cell code {
  // font-family: 'Source Code Pro';
  white-space: pre-wrap;
  font-size: 14px;
}

/*
    Codemirror
 */

.CodeMirror
{
    // font-family: 'Source Code Pro';
    font-size: 14px;
    line-height: 20px;

    height: auto;

    background: none;
}

.CodeMirror-cursor
{
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: var(--cm-color);
}

.CodeMirror-scroll
{
    overflow-x: auto !important;
    overflow-y: hidden !important;
}

.CodeMirror-lines
{
    padding: .4em;
}

.CodeMirror-linenumber
{
    padding: 0 8px 0 4px;
}

.CodeMirror-gutters
{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.CodeMirror pre
{
    padding: 0;

    border: 0;
    border-radius: 0;
}

.cm-s-composition.CodeMirror {
	// font-family: 'Source Code Pro', monospace;
	letter-spacing: 0.3px;
	word-spacing: 1px;
	// background: var(--cm-background);
	color: var(--cm-color);
}
.cm-s-composition .CodeMirror-lines {
  padding: 10px;
  background: var(--cm-background);
  border: 1px solid #cfcfcf;
  border-radius: 2px;

}
.cm-s-composition .CodeMirror-gutters {
	box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 0 2px 0 rgba(0, 0, 0, 0.5);
	background-color: var(--cm-gutter-bg);
	padding-right: 10px;
	z-index: 3;
	border: none;
}

.cm-s-composition span.cm-comment { color: var(--cm-comment) }
.cm-s-composition span.cm-keyword { line-height: 1em; font-weight: bold; color: var(--cm-keyword); }
.cm-s-composition span.cm-string { color: var(--cm-string); }
.cm-s-composition span.cm-builtin { line-height: 1em; font-weight: bold; color: var(--cm-builtin); }
.cm-s-composition span.cm-special { line-height: 1em; font-weight: bold; color: var(--cm-special); }
.cm-s-composition span.cm-variable { color: var(--cm-variable); }
.cm-s-composition span.cm-number, .cm-s-composition span.cm-atom { color: var(--cm-number); }
.cm-s-composition span.cm-meta { color: var(--cm-meta); }
.cm-s-composition span.cm-link { color: var(--cm-link); }
.cm-s-composition span.cm-operator { color: var(--cm-operator); }
.cm-s-composition span.cm-def { color: var(--cm-def); }
.cm-s-composition .CodeMirror-activeline-background { background: var(--cm-activeline-bg); }
.cm-s-composition .CodeMirror-matchingbracket { border-bottom: 1px solid var(--cm-matchingbracket-outline); color: var(--cm-matchingbracket-color) !important; }

/* Overwrite some of the hint Styling */

.CodeMirror-hints {
  -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
  border-radius: 0px;
  border: none;
  padding:0;

  background: var(--cm-hint-bg);
  font-size: 90%;
  // font-family: 'Source Code Pro', monospace;

  overflow-y: auto;
}

.CodeMirror-hint {
  border-radius: 0px;
  white-space: pre;
  cursor: pointer;
  color: var(--cm-hint-color);
}

li.CodeMirror-hint-active {
  background: var(--cm-hint-bg-active);
  color: var(--cm-hint-color-active);
}

.dropdown {
    display: inline-block;
}

.dropdown__content {
    display: none;
    opacity:  1.0;
    position: absolute;
    top: 0.2em;
    right: 0;
    border-style: none;
    padding: 0;
    font-size: 11px;
    line-height: 1.5;
    margin: 20px 0;
    background-color: var(--dropdown-content);
}

.dropdown__content ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
    opacity: 1.0;
}

.dropdown__content li {
  padding: 0.5rem;
}

.dropdown--active .dropdown__content {
    display: inline-block;
    opacity: 1.0;
}

/*
 * The following were written to help with the R kernel formatting. We need to
 * write something general for nested HTML like the R kernel does for data
 */

.cell dd {
    display: block;
    -webkit-margin-start: 40px
}
.cell dl {
    display: block;
    -webkit-margin-before: 1__qem;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

.cell dt {
    display: block
}

.cell dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0
}

.cell dt {
  font-weight: bold;
  float: left;
  width: 20%;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0
}

.cell dd {
  float: left;
  width: 80%;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0
}

/* No dangling (1.) */
.cell li:only-child {
  list-style-type: none;
}

.list-inline li {
  display: inline;
  padding-right: 20px;
  text-align: center;
}

/* End R Kernel adaptations */

/* Styling for status bar */
.pull-right {
    float: right;
    padding-right: 10px;
}

.pull-left {
    display: block;
    padding-left: 10px;
}

.status-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    line-height: 0.5em;
    background: var(--status-bar);
    z-index: 99;
}

:root {
  --main-bg-color: white;
  --main-fg-color: black;

  --primary-border: #ababab;

  --cell-bg: white;
  --cell-bg-hover: white;
  --cell-bg-focus: white;

  --toolbar-bg: rgba(255,255,255,0.3);
  --toolbar-button: #aaa;
  --toolbar-button-hover: #555;

  --dropdown-content: var(--cm-background);
  --dropdown-content-hover: #eee;

  --pager-bg: white;
  --input-color: #3241a0;

  --cm-background: #F6F6F6;
  --cm-color: black;

  --cm-gutter-bg: white;

  --cm-comment: #407e7e;
  --cm-keyword: #008000;
  --cm-string: #ba2121;
  --cm-builtin: #008000;
  --cm-special: #0aa;
  --cm-variable: black;
  --cm-number: #3a3;
  --cm-meta: #555;
  --cm-link: #3a3;
  --cm-operator: #aa22ff;
  --cm-def: #0000ff;

  --cm-activeline-bg: #e8f2ff;
  --cm-matchingbracket-outline: grey;
  --cm-matchingbracket-color: #00ff00;

  --cm-hint-color: var(--cm-color);
  --cm-hint-color-active: var(--cm-color);
  --cm-hint-bg: var(--main-bg-color);
  --cm-hint-bg-active: #ABD1FF;

  --prompt-width: 83px;
}

.input {
  padding: 5px;
}

.outputs>div {
  padding-top: 0px
}

.prompt {
  text-align: right !important;
  font-size: 14px !important;
}

.cell.code .prompt:before {
  content: "In ";
}

.cell.code .prompt:after {
  content: ":";
}

.cell {
  margin-left: 15px;
  margin-right: 15px;
}

.cell.text .rendered {
  padding: 0px 0px 0px calc(var(--prompt-width) + 10px);
}

.draggable-cell {
  padding: 0px !important;
  border-top-width: 1px !important;
  border-bottom-width: 1px !important;
  margin-bottom: -1px;
}

.cell-toolbar {
  box-shadow: 0 1px 0.5px 0 rgba(0,0,0,.10);
  border-radius: 3px;
}

.cell-creator {
  box-shadow: 0 1px 0.5px 0 rgba(0,0,0,.10);
  margin-top: 0px;
  border-radius: 3px;
  padding-bottom: 1px;
}

.creator-hover-region {
  top: -22px;
  height: 40px;
  z-index: 99;
}

.cm-s-composition span.cm-comment { font-style: italic; }
.cm-s-composition .CodeMirror-lines {
  padding: 4px;
  padding-top: 3px;
}

.cm-s-composition.CodeMirror {
  // border: 1px solid #cfcfcf;
  // border-radius: 2px;
}

.cell {
  padding-left: 5px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}

.cell:hover
{
  box-shadow: none;
}

.cell.focused {
  box-shadow: none;
  padding-left: 6px;
  border-color: #66bb6a;
  border-left-width: 0px;
  background: linear-gradient(to right, #66bb6a -40px, #66bb6a 5px, transparent 5px, transparent 100%);
}

.dropdown__content ul {
  box-shadow: -1px 1px 5px rgba(0,0,0,0.2);
}

/* -------------------- */
/* Miscellaneous Styles */
/* -------------------- */

body
{
/*  line-height: 1.3 !important;
*/}

/*custom scrollbar for notebook cells and hint box*/
div::-webkit-scrollbar, ul::-webkit-scrollbar {
      width: 11px;
      height: 11px;
}
div::-webkit-scrollbar-track, ul::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
}
div::-webkit-scrollbar-thumb, ul::-webkit-scrollbar-thumb {
      background-color: rgba(199,199,199, .4)
}
div::-webkit-scrollbar-thumb:hover, ul::-webkit-scrollbar-thumb:hover {
      background-color: rgba(199,199,199, .6)
}
div::-webkit-scrollbar-thumb:active, ul::-webkit-scrollbar-thumb:active {
      background-color: rgba(199,199,199, .8)
}
div::-webkit-scrollbar-corner, ul::-webkit-scrollbar-corner {
      background-color: transparent;
}

#notebook h1 {
    font-size: 185.7%;
    margin: 1.08em 0 0 0;
    font-weight: bold;
    line-height: 1;
}
#notebook h2 {
    font-size: 157.1%;
    margin: 1.27em 0 0 0;
    font-weight: bold;
    line-height: 1;
}
#notebook h3 {
    font-size: 128.6%;
    margin: 1.55em 0 0 0;
    font-weight: bold;
    line-height: 1;
}
#notebook h4 {
    font-size: 100%;
    margin: 2em 0 0 0;
    font-weight: bold;
    line-height: 1;
}
#notebook h5 {
    font-size: 100%;
    margin: 2em 0 0 0;
    font-weight: bold;
    line-height: 1;
    font-style: italic;
}
#notebook h6 {
    font-size: 100%;
    margin: 2em 0 0 0;
    font-weight: bold;
    line-height: 1;
    font-style: italic;
}
#notebook h1:first-child {
    margin-top: .538em;
}
#notebook h2:first-child {
    margin-top: .636em;
}
#notebook h3:first-child {
    margin-top: .777em;
}
#notebook h4:first-child {
    margin-top: 1em;
}
#notebook h5:first-child {
    margin-top: 1em;
}
#notebook h6:first-child {
    margin-top: 1em;
}
#notebook ul {
    list-style: disc;
    margin: 0 2em;
    padding:0;
}
#notebook ul ul {
    list-style: square;
    margin: 0 2em;
}
#notebook ul ul ul {
    list-style: circle;
    margin: 0 2em;
}
#notebook ol {
    list-style: decimal;
    margin: 0 2em;
}
#notebook ol ol {
    list-style: upper-alpha;
    margin: 0 2em;
}
#notebook ol ol ol {
    list-style: lower-alpha;
    margin: 0 2em;
}
#notebook ol ol ol ol {
    list-style: lower-roman;
    margin: 0 2em;
}
#notebook ol ol ol ol ol {
    list-style: decimal;
    margin: 0 2em;
}
#notebook *+ul {
    margin-top: 1em;
}
#notebook *+ol {
    margin-top: 1em;
}
#notebook hr {
    color: #000;
    background-color: #000;
}
#notebook pre {
    // margin: 1em 2em;
}
#notebook pre, #notebook code {
    border: 0;
    // background-color: #fff;
    color: #000;
    font-size: 100%;
    padding: 0;
}
#notebook blockquote {
    margin: 1em 2em;
}
#notebook table {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
    border-collapse: collapse;
}
#notebook tr, #notebook th, #notebook td {
    border: 1px solid #000;
    border-collapse: collapse;
    margin: 1em 2em;
}
#notebook td, #notebook th {
    text-align: left;
    vertical-align: middle;
    padding: 4px;
}
#notebook th {
    font-weight: bold;
}
#notebook *+table {
    margin-top: 1em;
}
#notebook p {
    text-align: justify;
}
#notebook *+p {
    margin-top: 1em;
}
#notebook img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#notebook *+img {
    margin-top: 1em;
}