<form action="/search/">
						
	<div class="filters">

	
		<div class="sort-inputs">
		
			<label>Sort by:
			  <select>
			    <option value="option">Trending</option>
			    <option value="option">Date</option>
			    <option value="option">Views</option>
			    <option value="option">Comments</option>
			  </select>
			</label>
			  
			<label>
			  <select>
			    <option value="option">Today</option>
			    <option value="option">This month</option>
			    <option value="option">This year</option>
			    <option value="option">All time</option>
			  </select>
			</label>
			  
			<p class="totals">132 Notebooks</p>
		
		</div>
						  	
		<div class="filter-inputs">
			
			<label>Topic:
			  <select>
				<option value="0">All</option>
				<option value="0">General Economics and Teaching</option>
				<option value="0">History of Economic Thought, Methodology, and Heterodox Approaches</option>
				<option value="0">Mathematical and Quantitative Methods</option>
				<option value="0">Microeconomics</option>
				<option value="0">Macroeconomics and Monetary Economics</option>
				<option value="0">International Economics</option>
				<option value="0">Financial Economics</option>
				<option value="0">Public Economics</option>
				<option value="0">Health, Education, and Welfare</option>
				<option value="0">Labor and Demographic Economics</option>
				<option value="0">Law and Economics</option>
				<option value="0">Industrial Organization</option>
				<option value="0">Business Administration and Business Economics • Marketing • Accounting • Personnel Economics</option>
				<option value="0">Economic History</option>
				<option value="0">Economic Development, Innovation, Technological Change, and Growth</option>
				<option value="0">Economic Systems</option>
				<option value="0">Agricultural and Natural Resource Economics • Environmental and Ecological Economics</option>
				<option value="0">Urban, Rural, Regional, Real Estate, and Transportation Economics</option>
				<option value="0">Miscellaneous</option> 
				<option value="0">Other</option>
			  </select>
			</label>
			
			<label>Language:
			  <select>
			    <option value="0">All</option>
			    <option value="0">Python</option>
			    <option value="0">Julia</option>
			    <option value="0">R</option>
			  </select>
			</label>
			
		</div>

		<div class="search-inputs">
			
			<div class="search-field">
				
				<a href="#" class="search-hide"><span class="fi-x"></span></a>
	
				<label for="search-keywords">Search:
					<input type="text" id="search-keywords">
				</label>
				
				<button type="submit" class="search-submit"><span class="fi-magnifying-glass"></span></button>
				
			</div>
			
			<div class="search-toggle">
				
				<a href="#" title="search"><span class="fi-magnifying-glass"></span></a>
				
			</div>
						
		</div>
	
	</div>

</form>
