			
			<div class="details">
				
				<div class="details-side">
					
					<div class="vote">
						
						<a class="fi-like active"></a>
						
						<span class="score">1</span>
						
						<a class="fi-dislike"></a>
					
					</div>

					<ul class="admin-options">
						<li><a href="#" title="Flag notebook" data-open="flagNotebookModal"><span class="fi-flag"></span></a></li>
						<li><a href="#" title="Delete notebook" data-open="deleteContentModal"><span class="fi-x"></span></a></li>
					</ul>
					
				</div>
				
				<div class="details-main">
					
					<div class="details-header">
						
						<div class="details-title">
							
							<h1 class="title">My Notebook Title</h1>
							
							<ul class="details-options">
								<li><a href="/n/my-notebook-title/edit/" class="edit-profile" title="Edit Notebook"><span class="fi-widget"></span></a></li>
							</ul>
				
							<ul class="topics">
								<li><a href="/">Public Economics</a></li>
								<li><a href="/">Law and Economics</a></li>
								<li><a href="/">Economic History</a></li>
							</ul>
							
						</div>
						
						<div class="details-counts">
							
							<div class="counts">
								<ul>
									<li class="views"><span class="count">1</span> Views</li>
									<li class="comments"><span class="count">0</span> Comments</li>
									<li class="votes"><span class="count">1</span> Votes</li>
								</ul>
							</div>				
							
						</div>
						
					</div>
					
					<div class="details-body">
						
						<div class="details-primary">
							
							<p>A description of the notebook ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
														
						</div>
						
						<div class="details-secondary">
							
							<div class="side">
								
								<p class="avatar"><a href="/u/my-profile/"><img src="/assets/img/avatar/9.jpg"></a></p>
								
							</div>
							
							<div class="main">
								
								<ul class="specs">
									<li><span>Author:</span> <a href="/u/my-profile/">Bruce Wayne</a></li>
									<li><span>Language:</span> <a href="/">Python</a></li>
									<li><span>Published:</span> 23 March 2017</li>
									<li><span>Last update:</span> 2 April 2017</li> 
								</ul>

							</div>
							
						</div>
						
					</div>
					
				</div>
				
			</div>

			
