			
			<div class="details">
				
				<div class="details-side">
					
					<p class="avatar"><a href="#"><img src="/assets/img/avatar/5.jpg"></a></p>

					<ul class="admin-options">
						<li><a href="#" title="Flag user" data-open="flagUserModal"><span class="fi-flag"></span></a></li>
						<li><a href="#" title="Delete user" data-open="deleteContentModal"><span class="fi-x"></span></a></li>
					</ul>
										
				</div>
				
				<div class="details-main">
					
					<div class="details-header">
						
						<div class="details-title">
							
							<h1 class="title">Chase Coleman</h1> 
				
							<p class="date">Joined 3 months ago</p>
							
						</div>
						
						<div class="details-counts">
							 
							<div class="counts">
								<ul>
									<li class="views"><span class="count">2</span> Notebooks</li> 
									<li class="votes"><span class="count">72</span> Votes</li>
									<li class="comments"><span class="count">28</span> Comments</li>
								</ul>
							</div>				
							
						</div>
						
					</div>
					
					<div class="details-body">
						
						<div class="details-primary">
							
							<p>I am a PhD Candidate in Economics at NYU’s Stern Business School.</p>

							<p class="web"><a href="http://www.chasegcoleman.com/">www.chasegcoleman.com</a>
							
							<ul class="networks">
								<li><a href="https://github.com/cc7768"><span class="fi-social-github"></span> <span>GitHub</span></a></li>
								<li><a href="#"><span class="fi-social-linkedin"></span> <span>LinkedIn</span></a></li>
								<li><a href="mailto:cc7768@gmail.com"><span class="fi-mail"></span> <span>Email</span></a></li>
							</ul>
							
						</div>
						
					</div>
					
				</div>
				
			</div>
